* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

button {
  border: none;
  outline: 0;
  background: none; }

img,
iframe {
  max-width: 100%; }

img {
  display: block;
  border: none;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  color: inherit;
  text-decoration: none; }

em,
strong {
  font-style: inherit;
  font-weight: inherit; }

hr {
  border: none;
  outline: 0; }

ul,
li {
  list-style: none; }

input,
textarea {
  border: none;
  border-radius: 0;
  outline: 0;
  background: none;
  overflow: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none; }

address {
  font-size: inherit;
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal; }

@-webkit-keyframes introAnimationMobileSmall {
  0% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@keyframes introAnimationMobileSmall {
  0% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@-webkit-keyframes introAnimationMobile {
  0% {
    -webkit-clip-path: circle(175px at 50% 47.5%);
    clip-path: circle(175px at 50% 47.5%); }
  25% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  27% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@keyframes introAnimationMobile {
  0% {
    -webkit-clip-path: circle(175px at 50% 47.5%);
    clip-path: circle(175px at 50% 47.5%); }
  25% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  27% {
    -webkit-clip-path: circle(150px at 50% 47.5%);
    clip-path: circle(150px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@-webkit-keyframes introAnimationDesktop {
  0% {
    -webkit-clip-path: circle(193px at 50% 47.5%);
    clip-path: circle(193px at 50% 47.5%); }
  25% {
    -webkit-clip-path: circle(176px at 50% 47.5%);
    clip-path: circle(176px at 50% 47.5%); }
  27% {
    -webkit-clip-path: circle(176px at 50% 47.5%);
    clip-path: circle(176px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@keyframes introAnimationDesktop {
  0% {
    -webkit-clip-path: circle(193px at 50% 47.5%);
    clip-path: circle(193px at 50% 47.5%); }
  25% {
    -webkit-clip-path: circle(176px at 50% 47.5%);
    clip-path: circle(176px at 50% 47.5%); }
  27% {
    -webkit-clip-path: circle(176px at 50% 47.5%);
    clip-path: circle(176px at 50% 47.5%); }
  100% {
    -webkit-clip-path: circle(100% at 50% 47.5%);
    clip-path: circle(100% at 50% 47.5%); } }
@-webkit-keyframes openOfferMobile {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 99% 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
@keyframes openOfferMobile {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 99% 0, 0 0); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
@-webkit-keyframes closeOfferMobile {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 99% 0, 0 0); } }
@keyframes closeOfferMobile {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 99% 0, 0 0); } }
@font-face {
  font-family: 'maison_neuebold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/maisonneue_bold-webfont.woff2") format("woff2"), url("../fonts/maisonneue_bold-webfont.woff") format("woff"); }
@font-face {
  font-family: 'maisonneueextended-bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/maisonneueextended-bold-webfont.woff2") format("woff2"), url("../fonts/maisonneueextended-bold-webfont.woff") format("woff"); }
@font-face {
  font-family: 'maison_neuemedium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/maisonneue-medium-webfont.woff2") format("woff2"), url("../fonts/maisonneue-medium-webfont.woff") format("woff"); }
body {
  font-family: "maison_neuemedium", "sans-serif"; }

.h1, .content h1,
.h2,
.content h2,
.h3,
.h4 {
  font-family: "maisonneueextended-bold", "sans-serif";
  letter-spacing: 0.16em;
  text-transform: uppercase; }

.h1, .content h1,
.h4 {
  font-size: 16.5px;
  line-height: 1.1818181818; }

.h2, .content h2 {
  font-size: 12.5px;
  line-height: 1.16; }

.h3 {
  font-size: 10px;
  line-height: 1; }

.p, .content p {
  font-family: "maison_neuemedium", "sans-serif";
  font-size: 14px;
  line-height: 1.21; }

@media all and (min-width: 992px) {
  .h1, .content h1 {
    font-size: 27px; }

  .h3 {
    font-size: 12px; } }
@media all and (min-width: 1200px) {
  .h1, .content h1 {
    font-size: 37px; }

  .h2, .content h2 {
    font-size: 15px; }

  .h3 {
    font-size: 15px; }
    .h3--small {
      font-size: 13px; }

  .h4 {
    font-size: 20px; }

  .p, .content p {
    font-size: 15px; } }
::-moz-selection {
  background: #000000;
  color: #ffffff; }
::selection {
  background: #000000;
  color: #ffffff; }

::-moz-selection {
  background: #000000;
  color: #ffffff; }

body {
  position: fixed;
  background: #000000;
  color: #ffffff;
  overflow: hidden; }

.preload-hidden {
  display: none; }

.site {
  width: 100%;
  /* fd */
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: circle(150px at 50% 47.5%);
  clip-path: circle(150px at 50% 47.5%); }
  .is-loaded .site {
    -webkit-animation: introAnimationMobileSmall 1.25s forwards ease-in-out;
    animation: introAnimationMobileSmall 1.25s forwards ease-in-out; }
  @media all and (min-width: 370px) {
    .site {
      -webkit-clip-path: circle(175px at 50% 47.5%);
      clip-path: circle(175px at 50% 47.5%); }
      .is-loaded .site {
        -webkit-animation-name: introAnimationMobile;
        animation-name: introAnimationMobile; } }
  @media all and (min-width: 992px) {
    .site {
      overflow: hidden;
      -webkit-clip-path: circle(193px at 50% 47.5%);
      clip-path: circle(193px at 50% 47.5%); }
      .is-loaded .site {
        -webkit-animation-name: introAnimationDesktop;
        animation-name: introAnimationDesktop; } }

.intro-info {
  position: absolute;
  top: 45%;
  width: 100%;
  margin-top: 240px;
  transition: opacity 0.33s 0.5s ease-out;
  color: rgba(255, 255, 255, 0.4);
  font-family: "maisonneueextended-bold", "sans-serif";
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  [data-page='404'] .intro-info {
    display: none; }
  .intro-info--404 {
    display: none; }
    [data-page='404'] .intro-info--404 {
      display: block; }
  .is-loaded .intro-info {
    opacity: 0;
    pointer-events: none; }
  @media all and (min-width: 992px) {
    .intro-info {
      margin-top: 270px; } }
  @media all and (min-width: 992px) and (min-height: 700px) {
    .intro-info {
      top: 85%;
      margin-top: 0; } }

.map-info {
  display: none; }
  @media all and (min-width: 992px) {
    .map-info {
      display: block;
      position: absolute;
      bottom: 23px;
      left: 0;
      width: 100%;
      transition: opacity 0.5s;
      color: #ffffff;
      font-family: "maison_neuemedium", "sans-serif";
      font-size: 15px;
      text-align: center;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .map-info.seen {
        opacity: 0.2; }
      .map-info.is-hidden {
        opacity: 0; } }

.js-hide-on-open-offers-list {
  transition: opacity 0.6s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .js-hide-on-open-offers-list.is-hidden {
    opacity: 0;
    pointer-events: none; }
  .js-hide-on-open-offers-list:not(.is-hidden) {
    transition-delay: 0.2s; }

.covvver {
  display: none;
  position: fixed;
  top: 47.5%;
  left: 50%;
  width: 386px;
  height: 386px;
  margin: -193px 0 0 -193px;
  z-index: 1001;
  box-shadow: 0 0 0px 5px #000000; }
  .is-opening-realisations .covvver {
    display: block; }
  .covvver.is-hidden {
    display: none; }

.slick-slider {
  display: block;
  position: relative;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.slick-list {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto; }
  .slick-track:before, .slick-track:after {
    display: table;
    content: ''; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  height: 100%;
  min-height: 1px;
  float: left;
  outline: none; }
  .slick-slide > div {
    height: 100%; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow.slick-disabled {
  opacity: 0.44;
  pointer-events: none; }

/**
 * Swiper 4.5.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2019 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 22, 2019
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  outline: none; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-lock {
  display: none; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

.swiper-pagination-lock {
  display: none; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

@media all and (min-width: 992px) {
  body,
  body *,
  body a {
    cursor: none !important; } }

.cursor {
  display: none;
  position: fixed;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  -webkit-transform: translate3d(-20px, -20px, 0);
  transform: translate3d(-20px, -20px, 0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transition: width 0.25s, height 0.25s, opacity 0.5s;
  background: none;
  color: #000000;
  opacity: 0;
  z-index: 1002;
  pointer-events: none; }
  .is-loaded .cursor {
    opacity: 1; }
  .cursor__dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition: all 0.25s;
    border-radius: 50%;
    background: rgba(238, 238, 238, 0.5); }
  .cursor--disappear .cursor__dot {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .cursor--dragging .cursor__dot, .cursor--on-link-medium .cursor__dot {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  .cursor--on-link .cursor__dot {
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
    background: #eeeeee; }
  .is-touch .cursor {
    display: none !important; }
  @media all and (max-width: 991px) {
    .cursor {
      display: none !important; } }

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 260px;
  margin-left: -130px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity 0.6s ease-out;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }
  .logo--main.is-hidden {
    opacity: 0;
    pointer-events: none; }
  .logo--main:not(.is-hidden) {
    transition-delay: 0.2s; }
  .logo__image {
    display: block;
    width: 100%; }
  .logo__coordinates {
    margin-top: 0.84em;
    color: #eeeeee;
    font-family: "maison_neuemedium", "sans-serif";
    font-size: 13px;
    pointer-events: none; }
  .logo__x, .logo__y {
    display: inline-block; }
  .logo__x {
    float: left;
    text-align: left; }
  .logo__y {
    float: right;
    text-align: right; }
  @media all and (min-width: 370px) {
    .logo {
      width: 280px;
      margin-left: -140px; } }
  @media all and (min-width: 992px) {
    .logo {
      width: 314px;
      margin-left: -157px;
      z-index: 999; }
      .logo__coordinates {
        font-size: 14px; } }
  @media all and (min-width: 992px) {
    .logo--viewfinder {
      width: 105px;
      margin-left: -52.5px; }
      .logo--viewfinder .logo__coordinates {
        font-size: 5.25px; }
    [data-page="nos-offres"]:not(.is-loaded) .logo.is-hidden,
    [data-page="nos-offres"]:not(.is-loaded) .logo .logo__coordinates.is-hidden, [data-page="nos-realisations"]:not(.is-loaded) .logo.is-hidden,
    [data-page="nos-realisations"]:not(.is-loaded) .logo .logo__coordinates.is-hidden {
      opacity: 1; }
      [data-page="nos-offres"]:not(.is-loaded) .logo.is-hidden.is-force-hidden,
      [data-page="nos-offres"]:not(.is-loaded) .logo .logo__coordinates.is-hidden.is-force-hidden, [data-page="nos-realisations"]:not(.is-loaded) .logo.is-hidden.is-force-hidden,
      [data-page="nos-realisations"]:not(.is-loaded) .logo .logo__coordinates.is-hidden.is-force-hidden {
        opacity: 0; } }

.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out, opacity 0.5s ease-out;
  transition: transform 0.3s ease-out, opacity 0.5s ease-out, -webkit-transform 0.3s ease-out;
  background-position: 50%;
  background-size: cover;
  font: inherit; }
  .is-opening-realisations .map {
    display: none !important; }
  @media all and (max-width: 991px) {
    .map {
      top: -50px;
      left: -50px;
      width: calc(100% + 100px);
      height: calc(100% + 100px); } }
  .map.is-hidden {
    opacity: 0; }
  .map.is-locked {
    pointer-events: none; }
  .is-loaded .map {
    opacity: 1; }
  .map.is-zoomed-in {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
    .map.is-zoomed-in ~ .nav .nav-link-retour {
      opacity: 0 !important;
      pointer-events: none !important; }
  .map .mapboxgl-canvas-container {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transition: -webkit-transform 0.66s ease-out;
    transition: transform 0.66s ease-out;
    transition: transform 0.66s ease-out, -webkit-transform 0.66s ease-out; }
  .map .mapboxgl-ctrl {
    opacity: 0;
    pointer-events: none; }
  .map * {
    cursor: none !important; }
  .map .nav-link {
    position: absolute;
    padding: 0; }
    .map .nav-link__text {
      position: absolute;
      top: -59px;
      left: -32px;
      z-index: 1; }
    .map .nav-link.is-hovered .nav-link__text ~ .nav-link__image {
      pointer-events: auto; }
    .map .nav-link--offer .nav-link__text {
      pointer-events: none; }
    .map .nav-link--offer.is-hovered {
      z-index: 1; }
      .map .nav-link--offer.is-hovered .nav-link__hover {
        pointer-events: none; }
      .map .nav-link--offer.is-hovered .nav-link__text {
        pointer-events: auto; }
    .map .nav-link__dot {
      top: 50%;
      right: 50%;
      margin-top: -4px;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s; }
    .map .nav-link__image {
      position: absolute;
      top: -75px;
      left: -79px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-position: 50%;
      background-size: cover;
      pointer-events: none;
      -webkit-clip-path: circle(0 at 50% 50%);
      clip-path: circle(0 at 50% 50%); }
      .map .nav-link__image:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.33);
        content: ''; }
    .map .nav-link--glow .nav-link__text {
      top: -59px;
      left: -16px; }
    .map .nav-link--glow .nav-link__dot {
      box-shadow: 0 0 16px 18px rgba(255, 255, 255, 0.33); }
      .map .nav-link--glow .nav-link__dot:before {
        display: block;
        position: absolute;
        top: -12px;
        left: -12px;
        width: 30px;
        height: 30px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        content: ''; }
    .map .nav-link.is-out-of-bounds {
      visibility: hidden; }
    .map .nav-link.is-hidden .nav-link__text,
    .map .nav-link.is-hidden .nav-link__dot {
      opacity: 0; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(1) .nav-link__text {
      transition: opacity 0.5s 0.1s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.1s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.1s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(1) .nav-link__dot {
      transition-delay: 0.2s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(2) .nav-link__text {
      transition: opacity 0.5s 0.2s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.2s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.2s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(2) .nav-link__dot {
      transition-delay: 0.4s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(3) .nav-link__text {
      transition: opacity 0.5s 0.3s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.3s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.3s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(3) .nav-link__dot {
      transition-delay: 0.6s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(4) .nav-link__text {
      transition: opacity 0.5s 0.4s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.4s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.4s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(4) .nav-link__dot {
      transition-delay: 0.8s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(5) .nav-link__text {
      transition: opacity 0.5s 0.5s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.5s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.5s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(5) .nav-link__dot {
      transition-delay: 1s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(6) .nav-link__text {
      transition: opacity 0.5s 0.6s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.6s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.6s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(6) .nav-link__dot {
      transition-delay: 1.2s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(7) .nav-link__text {
      transition: opacity 0.5s 0.7s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.7s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.7s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(7) .nav-link__dot {
      transition-delay: 1.4s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(8) .nav-link__text {
      transition: opacity 0.5s 0.8s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.8s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.8s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(8) .nav-link__dot {
      transition-delay: 1.6s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(9) .nav-link__text {
      transition: opacity 0.5s 0.9s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 0.9s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 0.9s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(9) .nav-link__dot {
      transition-delay: 1.8s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(10) .nav-link__text {
      transition: opacity 0.5s 1s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(10) .nav-link__dot {
      transition-delay: 2s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(11) .nav-link__text {
      transition: opacity 0.5s 1.1s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.1s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.1s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(11) .nav-link__dot {
      transition-delay: 2.2s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(12) .nav-link__text {
      transition: opacity 0.5s 1.2s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.2s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.2s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(12) .nav-link__dot {
      transition-delay: 2.4s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(13) .nav-link__text {
      transition: opacity 0.5s 1.3s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.3s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.3s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(13) .nav-link__dot {
      transition-delay: 2.6s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(14) .nav-link__text {
      transition: opacity 0.5s 1.4s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.4s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.4s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(14) .nav-link__dot {
      transition-delay: 2.8s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(15) .nav-link__text {
      transition: opacity 0.5s 1.5s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.5s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.5s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(15) .nav-link__dot {
      transition-delay: 3s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(16) .nav-link__text {
      transition: opacity 0.5s 1.6s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.6s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.6s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(16) .nav-link__dot {
      transition-delay: 3.2s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(17) .nav-link__text {
      transition: opacity 0.5s 1.7s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.7s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.7s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(17) .nav-link__dot {
      transition-delay: 3.4s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(18) .nav-link__text {
      transition: opacity 0.5s 1.8s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.8s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.8s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(18) .nav-link__dot {
      transition-delay: 3.6s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(19) .nav-link__text {
      transition: opacity 0.5s 1.9s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 1.9s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 1.9s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(19) .nav-link__dot {
      transition-delay: 3.8s; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(20) .nav-link__text {
      transition: opacity 0.5s 2s ease-out, -webkit-transform 0.25s ease-out;
      transition: opacity 0.5s 2s ease-out, transform 0.25s ease-out;
      transition: opacity 0.5s 2s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .map .nav-link:not(.is-hidden):not(.is-out-of-bounds):nth-of-type(20) .nav-link__dot {
      transition-delay: 4s; }
    .map .nav-link.is-too-small {
      pointer-events: none !important; }
      .map .nav-link.is-too-small .nav-link__text {
        opacity: 0; }
      .map .nav-link.is-too-small .nav-link__dot {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5); }
    @media all and (max-width: 991px) {
      .map .nav-link {
        display: none; } }

.nav {
  position: absolute;
  right: 18px;
  text-align: right;
  z-index: 1; }
  .nav-realisations {
    display: none; }
  .nav-link {
    transition: opacity 0.3s ease-out;
    font-family: "maison_neuemedium", "sans-serif";
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .nav-link .flag {
      position: absolute;
      position: absolute;
      left: 34px;
      bottom: -1.7em;
      font-size: 0.75em; }
    .nav .nav-link {
      position: relative; }
    .nav-link__hover {
      display: none; }
    .nav-link__text {
      display: inline-block;
      padding-right: 0.8em;
      white-space: nowrap; }
      .is-touch .nav-link__text {
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important; }
      @media all and (max-width: 991px) {
        .nav-link__text {
          -webkit-transform: none !important;
          -ms-transform: none !important;
          transform: none !important; } }
    .nav-link__dot {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #ffffff; }
    .nav-link.is-hidden, .nav-link.is-home-hidden {
      opacity: 0;
      pointer-events: none; }
    .nav-link:not(.is-hidden) {
      transition-delay: 0.1s; }
    .nav-link.nav-link--offers-list {
      transition: opacity 0.6s ease-out; }
      .nav-link.nav-link--offers-list.is-hidden {
        opacity: 0;
        pointer-events: none; }
      .nav-link.nav-link--offers-list:not(.is-hidden) {
        transition-delay: 0.2s; }
    .nav-link.nav-link-contact:not(.is-hidden) {
      transition-delay: 1.6s; }
    .nav-link-close {
      transition-delay: 0.1s;
      opacity: 0;
      pointer-events: none; }
      .nav-link-close.is-active {
        opacity: 1;
        pointer-events: auto; }
  .nav--top {
    top: 18px;
    z-index: 3; }
    .nav--top .nav-link {
      position: absolute;
      top: 0;
      right: 0; }
  .nav--bottom {
    display: none; }
  .nav--main {
    bottom: 18px; }
    .nav--main li:not(:last-of-type) {
      margin-bottom: 24px; }
    .nav--main .nav-link:not(.is-hidden) {
      transition: opacity 0.33s ease-in; }
    .nav--main li:nth-of-type(1) .nav-link:not(.is-hidden) {
      transition-delay: 0.1s; }
    .nav--main li:nth-of-type(2) .nav-link:not(.is-hidden) {
      transition-delay: 0.2s; }
    .nav--main li:nth-of-type(3) .nav-link:not(.is-hidden) {
      transition-delay: 0.3s; }
    .nav--main li:nth-of-type(4) .nav-link:not(.is-hidden) {
      transition-delay: 0.4s; }
  @media all and (min-width: 992px) {
    .nav {
      right: 0; }
      .nav-link {
        display: block;
        padding: 0;
        font-size: 15px; }
        .nav-link__text {
          display: block;
          height: 144px;
          padding: 0 33px;
          transition: opacity 0.6s ease-out, -webkit-transform 0.25s ease-out;
          transition: opacity 0.6s ease-out, transform 0.25s ease-out;
          transition: opacity 0.6s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
          line-height: 144px;
          text-align: center; }
          .nav-link__text span {
            display: inline-block; }
        .nav-link__hover {
          display: block;
          position: absolute;
          top: -16px;
          left: -19px;
          width: 32px;
          height: 32px;
          z-index: 2; }
        .nav-link__dot {
          top: 33px;
          right: 37px;
          width: 8px;
          height: 8px;
          transition: opacity 0.6s ease-out; }
        .nav-link-retour {
          transition: opacity 0.5s;
          opacity: 0;
          pointer-events: none; }
          .nav-link-retour.is-visible {
            opacity: 1;
            pointer-events: auto; }
      .nav--top {
        top: -21px;
        right: 17px; }
        .nav--top .nav-link__dot {
          top: 55px;
          right: 20px; }
        .nav--top .nav-link[data-update-page='nos-offres'] {
          top: 45px; }
        .nav--top .nav-link[data-update-page='nos-offres'], .nav--top .nav-link[data-update-page='nos-realisations'] {
          transition: opacity 0.5s 0.2s ease-out;
          opacity: 0;
          pointer-events: none !important; }
        .nav--top .nav-link[data-update-page='nos-realisations'] {
          top: 90px;
          transition-delay: 0.5s; }
        [data-page='realisation'] .nav--top .nav-link:not(.nav-link-close), [data-page='nos-realisations'] .nav--top .nav-link:not(.nav-link-close), [data-page='nos-offres'] .nav--top .nav-link:not(.nav-link-close) {
          pointer-events: none !important; }
        .nav--top.is-extended:not(.is-not-extended) {
          top: 36px; }
          .nav--top.is-extended:not(.is-not-extended) .nav-link[data-update-page='nos-offres'], .nav--top.is-extended:not(.is-not-extended) .nav-link[data-update-page='nos-realisations'] {
            opacity: 1;
            pointer-events: auto !important; }
          .nav--top.is-extended:not(.is-not-extended) .nav-link__text {
            height: 45px;
            margin-top: -7px;
            padding: 0 33px 0 0;
            line-height: 45px; }
          .nav--top.is-extended:not(.is-not-extended) .nav-link__dot {
            top: -2px; }
          .nav--top.is-extended:not(.is-not-extended) .nav-link.is-hovered {
            z-index: 1; }
        .nav--top:not(.is-extended) .nav-link[data-update-page='nos-realisations'] {
          transition-delay: 0s; }
        .nav--top:not(.is-extended) .nav-link[data-update-page='nos-offres'] {
          transition-delay: 0.5s; }
      .nav--bottom {
        display: block;
        right: 17px;
        bottom: -21px; }
        .nav--bottom .nav-link__dot {
          top: 85px;
          right: 20px; }
      .nav--main {
        display: none;
        bottom: 35px; } }
  @media all and (min-width: 1025px) {
    .nav-link[data-update-page='realisation'] .nav-link__text > span, .nav-link--egg .nav-link__text > span {
      transition: opacity 0.33s;
      opacity: 0; }
    .nav-link[data-update-page='realisation'].is-hovered .nav-link__text, .nav-link--egg.is-hovered .nav-link__text {
      opacity: 1; }
      .nav-link[data-update-page='realisation'].is-hovered .nav-link__text > span, .nav-link--egg.is-hovered .nav-link__text > span {
        opacity: 1; } }
  @media all and (max-width: 991px) {
    .nav--top .nav-link[data-update-page='nos-offres'], .nav--top .nav-link[data-update-page='nos-realisations'] {
      display: none !important; } }

.viewfinder {
  display: none; }
  @media all and (min-width: 1200px) {
    .viewfinder {
      display: block;
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 200px;
      height: 200px;
      transition: -webkit-clip-path 1.33s ease-in-out;
      transition: clip-path 1.33s ease-in-out;
      transition: clip-path 1.33s ease-in-out, -webkit-clip-path 1.33s ease-in-out;
      border-radius: 50%;
      z-index: 2;
      -webkit-clip-path: circle(0 at 50% 50%);
      clip-path: circle(0 at 50% 50%);
      pointer-events: none; }
      .viewfinder__map {
        position: absolute;
        top: -25%;
        left: -25%;
        width: 150%;
        height: 150%;
        background-image: url("../images/viewfinder.png");
        background-position: center;
        background-size: cover; }
      .viewfinder__logo, .viewfinder__map {
        transition: -webkit-transform 0.66s ease-out;
        transition: transform 0.66s ease-out;
        transition: transform 0.66s ease-out, -webkit-transform 0.66s ease-out;
        will-change: transform; }
      .viewfinder:hover .viewfinder__map,
      .viewfinder:hover .viewfinder__logo {
        transition: -webkit-transform 0.66s ease-out;
        transition: transform 0.66s ease-out;
        transition: transform 0.66s ease-out, -webkit-transform 0.66s ease-out; }
      .viewfinder:not(:hover) .viewfinder__map,
      .viewfinder:not(:hover) .viewfinder__logo {
        transition: -webkit-transform 0.4s ease-out;
        transition: transform 0.4s ease-out;
        transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
      .viewfinder.is-active {
        pointer-events: auto;
        -webkit-clip-path: circle(80px at 50% 50%);
        clip-path: circle(80px at 50% 50%); }
      .viewfinder.is-released {
        transition: -webkit-clip-path 0.5s ease-out;
        transition: clip-path 0.5s ease-out;
        transition: clip-path 0.5s ease-out, -webkit-clip-path 0.5s ease-out; }
        .viewfinder.is-released:hover {
          -webkit-clip-path: circle(110px at 50% 50%);
          clip-path: circle(110px at 50% 50%); }
      .viewfinder:not(.is-active) {
        transition-duration: 1s; } }

.content-loader {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background: #eeeeee; }
  .content-loader--images, .content-loader--main {
    transition: all 3.5s ease-out;
    /* 0.5s */ }
  .content-loader--directions {
    transition: opacity 2s 1s ease-out;
    /* 0.5s */ }
  .content-loader.is-loaded {
    opacity: 0; }

.section {
  display: none;
  position: absolute;
  z-index: 2; }
  .section:before {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: opacity 0.7s ease-out;
    background: rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0;
    z-index: -1;
    pointer-events: none; }
  .section.is-open:before {
    opacity: 1; }
  .section.is-open ~ .nav .nav-link-retour {
    opacity: 0 !important;
    pointer-events: none !important; }
  @media all and (min-width: 992px) {
    .section.contact:before {
      width: 50%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 100%); } }

.contact {
  right: 18px;
  bottom: 18px;
  text-align: right; }
  .contact__block {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
    opacity: 0; }
    .contact__block:nth-of-type(1) {
      transition-delay: 0s; }
    .contact__block:nth-of-type(2) {
      transition-delay: 0.2s; }
    .contact__block:nth-of-type(3) {
      transition-delay: 0.4s; }
    .contact__block:not(:last-of-type) {
      margin-bottom: 32px; }
    .contact__block h4 {
      margin-bottom: 0.75em; }
    .contact__block--directions {
      display: none; }
  .contact.is-open .contact__block {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .contact:not(.is-open) .contact__block {
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; }
  @media all and (min-width: 992px) {
    .contact {
      right: 35px;
      bottom: 45px; }
      .contact__block {
        padding: 45px 20px 17px 0; }
        .contact__block:before {
          display: block;
          position: absolute;
          top: 0;
          right: -35px;
          width: 185px;
          height: 1px;
          background: rgba(255, 255, 255, 0.5);
          content: ''; }
        .contact__block--directions {
          display: block; } }

.about {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 75px 20px 30px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .about__title {
    margin-bottom: 1.8em;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
    opacity: 0; }
  .about__content h1 {
    max-width: 18em;
    margin-bottom: 1em; }
  .about__content p {
    max-width: 38em;
    margin-bottom: 1.25em; }
  .about__content > * {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
    opacity: 0; }
    .about__content > *:nth-child(1) {
      transition-delay: 0.2s; }
    .about__content > *:nth-child(2) {
      transition-delay: 0.4s; }
    .about__content > *:nth-child(3) {
      transition-delay: 0.6s; }
    .about__content > *:nth-child(4) {
      transition-delay: 0.8s; }
    .about__content > *:nth-child(5) {
      transition-delay: 1s; }
    .about__content > *:nth-child(6) {
      transition-delay: 1.2s; }
    .about__content > *:nth-child(7) {
      transition-delay: 1.4s; }
    .about__content > *:nth-child(8) {
      transition-delay: 1.6s; }
    .about__content > *:nth-child(9) {
      transition-delay: 1.8s; }
    .about__content > *:nth-child(10) {
      transition-delay: 2s; }
    .about__content > *:nth-child(11) {
      transition-delay: 2.2s; }
    .about__content > *:nth-child(12) {
      transition-delay: 2.4s; }
    .about__content > *:nth-child(13) {
      transition-delay: 2.6s; }
    .about__content > *:nth-child(14) {
      transition-delay: 2.8s; }
    .about__content > *:nth-child(15) {
      transition-delay: 3s; }
  .about.is-open .about__title {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  .about:not(.is-open) .about__title {
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; }
  @media all and (min-width: 1200px) {
    .about__title {
      margin-bottom: 1.33em; }
    .about__content h1 {
      margin-bottom: 0.85em; }
    .about__content p {
      max-width: 33em;
      text-align: justify; } }

.apropos__menu {
  margin-bottom: 2.5em;
  line-height: 1.5; }
  .apropos__menu__title, .apropos__menu__nav {
    display: inline-block;
    vertical-align: top; }
.apropos.is-open .content > * {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }
.apropos:not(.is-open) .content > * {
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; }
@media all and (min-width: 992px) {
  .apropos {
    position: relative;
    padding: 0; }
    .apropos__container {
      position: relative;
      width: 100%;
      height: 100%; }
    .apropos__content {
      position: absolute;
      bottom: 30px;
      left: 30px; } }
@media all and (min-width: 1200px) {
  .apropos__content {
    bottom: 90px;
    left: 85px; } }
.apropos ::-moz-selection {
  background: #ffffff;
  color: #000000; }
.apropos ::selection {
  background: #ffffff;
  color: #000000; }
.apropos ::-moz-selection {
  background: #ffffff;
  color: #000000; }

.nos-metiers__title, .nos-metiers__contents {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
  transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
  transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
  opacity: 0; }
.nos-metiers__contents {
  position: relative; }
.nos-metiers__menu {
  margin-bottom: 2.5em;
  line-height: 1.5; }
  .nos-metiers__menu__title, .nos-metiers__menu__nav {
    display: inline-block;
    vertical-align: top; }
  .nos-metiers__menu__title {
    position: relative;
    padding-right: 1.5em; }
    .nos-metiers__menu__title:after {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0.5em;
      width: 4px;
      height: 4px;
      margin-top: -2px;
      border-radius: 50%;
      background: #ffffff;
      content: ''; }
  .nos-metiers__menu__nav {
    position: relative;
    top: -0.25em;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .nos-metiers__menu__nav li {
      transition: opacity 0.25s ease-in-out; }
      .nos-metiers__menu__nav li a {
        display: inline-block;
        padding: 0.25em 0; }
      .nos-metiers__menu__nav li:not(.is-active) {
        opacity: 0.5; }
        .nos-metiers__menu__nav li:not(.is-active):hover {
          opacity: 1; }
.nos-metiers.is-open .nos-metiers__title,
.nos-metiers.is-open .nos-metiers__contents {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }
.nos-metiers:not(.is-open) .nos-metiers__title,
.nos-metiers:not(.is-open) .nos-metiers__contents {
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; }
.nos-metiers__content {
  position: absolute; }
  .nos-metiers__content__logotypes {
    margin-top: 38px; }
    .nos-metiers__content__logotypes img {
      display: inline-block;
      height: 30px; }
      .nos-metiers__content__logotypes img:not(:last-of-type) {
        margin-right: 12px; }
  .nos-metiers__content.is-active {
    z-index: 3; }
    .nos-metiers__content.is-active > * {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
  .nos-metiers__content:not(.is-active) > * {
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; }
@media all and (min-width: 992px) {
  .nos-metiers {
    position: relative;
    padding: 34vh 0 0 30px; }
    .nos-metiers__menu__nav {
      top: 0; }
      .nos-metiers__menu__nav li a {
        padding: 0; }
    .nos-metiers__content {
      margin-bottom: 70px; }
      .nos-metiers__content__logotypes {
        margin-top: 76px; }
        .nos-metiers__content__logotypes img {
          height: 50px; }
          .nos-metiers__content__logotypes img:not(:last-of-type) {
            margin-right: 30px; } }
@media all and (min-width: 1200px) {
  .nos-metiers {
    padding-left: 85px; } }
.nos-metiers ::-moz-selection {
  background: #ffffff;
  color: #000000; }
.nos-metiers ::selection {
  background: #ffffff;
  color: #000000; }
.nos-metiers ::-moz-selection {
  background: #ffffff;
  color: #000000; }

.offers {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 0 30px;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .offers.is-visible {
    opacity: 1; }
  .offers.is-open ~ .nav--top.is-extended .nav-link[data-update-page='nos-offres'], .offers.is-open ~ .nav--top.is-extended .nav-link[data-update-page='nos-realisations'] {
    opacity: 0;
    pointer-events: none !important; }
  .offers:before {
    top: 64px;
    background: #000000; }
  .offers__mobile-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    transition: opacity 0.7s ease-out;
    background: #000000;
    opacity: 0;
    z-index: 2; }
    .offers__mobile-top:after {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      transition: opacity 0.2s ease-in-out;
      background: rgba(255, 255, 255, 0.5);
      content: '';
      opacity: 0; }
  .offers__preview {
    display: none; }
  .offers__list-nav {
    display: none; }
  .section:not(.is-open) .offers__list {
    pointer-events: none !important; }
  .offers__list li {
    padding: 16px 28px 14px 20px;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
    transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    overflow: hidden; }
    .section:not(.is-open) .offers__list li {
      pointer-events: none !important; }
    .offers__list li * {
      pointer-events: none; }
    .offers__list li:last-of-type {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .offers__list li:nth-child(1) {
      transition-delay: 0.08s; }
    .offers__list li:nth-child(2) {
      transition-delay: 0.16s; }
    .offers__list li:nth-child(3) {
      transition-delay: 0.24s; }
    .offers__list li:nth-child(4) {
      transition-delay: 0.32s; }
    .offers__list li:nth-child(5) {
      transition-delay: 0.4s; }
    .offers__list li:nth-child(6) {
      transition-delay: 0.48s; }
    .offers__list li:nth-child(7) {
      transition-delay: 0.56s; }
    .offers__list li:nth-child(8) {
      transition-delay: 0.64s; }
    .offers__list li:nth-child(9) {
      transition-delay: 0.72s; }
    .offers__list li:nth-child(10) {
      transition-delay: 0.8s; }
    .offers__list li:nth-child(11) {
      transition-delay: 0.88s; }
    .offers__list li:nth-child(12) {
      transition-delay: 0.96s; }
    .offers__list li:nth-child(13) {
      transition-delay: 1.04s; }
    .offers__list li:nth-child(14) {
      transition-delay: 1.12s; }
    .offers__list li:nth-child(15) {
      transition-delay: 1.2s; }
  .offers__list__title {
    margin-bottom: 7px; }
  .offers__list__info:nth-of-type(1) {
    float: left; }
  .offers__list__info:nth-of-type(2) {
    float: right; }
  .offers__list__info--square {
    position: relative;
    top: -0.15em; }
  @media all and (min-width: 992px) {
    .offers {
      overflow: hidden; }
      .offers:before, .offers__mobile-top {
        display: none; }
      .offers__list-container {
        display: none;
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        height: calc(100% - 95px);
        padding-bottom: 95px;
        overflow: scroll;
        z-index: 2; }
        .offers__list-container:before, .offers__list-container:after {
          position: fixed;
          top: 95px;
          left: 0;
          width: 100%;
          transition: opacity 0.5s ease-out;
          content: '';
          opacity: 0; }
        .offers__list-container:after {
          height: calc(100% - 95px);
          background: rgba(0, 0, 0, 0.7);
          z-index: -1; }
        .offers__list-container:before {
          width: 100%;
          height: 1px;
          background: rgba(255, 255, 255, 0.5);
          z-index: 1; }
        .offers__list-container.is-open li {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          opacity: 1; }
        .offers__list-container.is-open:before, .offers__list-container.is-open:after {
          opacity: 1; }
        .offers__list-container:not(.is-open):after {
          transition-delay: 0.5s; }
      .offers__list-nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95px;
        transition: opacity 0.5s 0.5s ease-out;
        opacity: 0;
        z-index: 3; }
        .offers__list-nav:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: opacity 0.5s ease-out;
          background: rgba(0, 0, 0, 0.7);
          content: '';
          opacity: 0;
          z-index: -1; }
        .offers__list-nav.is-open:before {
          opacity: 1; }
        .offers__list-nav:not(.is-open):before {
          transition-delay: 0.5s; }
        .offers__list-nav .nav-link {
          position: absolute;
          top: -22px;
          right: 19px; }
          .offers__list-nav .nav-link__dot {
            top: 56px;
            right: 18px; }
          .offers__list-nav .nav-link:nth-of-type(2) {
            display: none; }
        .is-open-single .offers__list-nav {
          display: none; }
      .offers__list li {
        padding: 33px 28px 31px 20px;
        overflow: hidden; }
        .offers__list li:first-of-type {
          border-top: none; }
        .offers__list li:last-of-type {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
        .offers__list li > * {
          transition: opacity 0.5s ease-out;
          opacity: 0.5;
          pointer-events: none; }
        .offers__list li.is-active > *, .offers__list li.is-hovered > * {
          opacity: 1; }
        .offers__list li.is-active .offers__list__title:before, .offers__list li.is-hovered .offers__list__title:before {
          opacity: 1; }
      .offers__list__title {
        position: relative;
        margin-bottom: 0;
        padding-left: 20px;
        float: left; }
        .offers__list__title:before {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 0;
          width: 6px;
          height: 6px;
          margin-top: -4px;
          transition: opacity 0.5s ease-out;
          border-radius: 50%;
          background-color: #ffffff;
          content: '';
          opacity: 0; }
      .offers__list__infos {
        float: right; }
        .offers__list__infos span:nth-of-type(2) {
          min-width: 110px;
          margin-left: 50px; }
      .offers__preview-swiper {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07);
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center; }
        .offers__preview-swiper:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: black;
          content: ''; }
        .offers__preview-swiper .swiper-slide:not(.swiper-slide-active) {
          opacity: 0 !important; }
        .offers__preview-swiper .swiper-slide.swiper-slide-active {
          opacity: 1 !important; }
      .offers__preview {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        height: 100%;
        background-position: 50%;
        background-size: cover;
        z-index: 1; }
        .offers__preview--vertical {
          background-color: #1c1c1c;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .offers__preview:before {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: opacity 0.5s ease-out;
          background: #000000;
          content: '';
          opacity: 0.15;
          z-index: 1; }
      .offers__slider {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: -webkit-clip-path 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: clip-path 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: clip-path 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), -webkit-clip-path 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        z-index: 1; }
        .offers__slider:not(.is-active) .offer__gallery__button {
          pointer-events: none; }
        .offers__slider__count {
          position: absolute;
          right: 32px;
          bottom: 24px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          z-index: 2; }
        .offers__slider__info {
          position: absolute;
          bottom: 0;
          left: 0;
          max-width: 700px;
          padding: 0 0 26px 30px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          color: #ffffff;
          z-index: 2; }
          .offers__slider__info-container {
            position: relative;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            z-index: 2; }
          .offers__slider__info__text {
            min-height: 60px;
            margin-bottom: 14px;
            overflow: hidden; }
            .offers__slider__info__text > div {
              -webkit-transform: translateY(calc(100% - 3.5em));
              -ms-transform: translateY(calc(100% - 3.5em));
              transform: translateY(calc(100% - 3.5em));
              transition: -webkit-transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
              transition: transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1);
              transition: transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.25s cubic-bezier(0.165, 0.84, 0.44, 1); }
            .offers__slider__info__text.is-short > div {
              -webkit-transform: none;
              -ms-transform: none;
              transform: none; }
            .offers__slider__info__text--egg + .offers__slider__info__plus {
              -webkit-clip-path: none !important;
              clip-path: none !important; }
          .offers__slider__info__title {
            margin-bottom: 13px; }
          .offers__slider__info__plus {
            transition: -webkit-clip-path 0.4s ease-out;
            transition: clip-path 0.4s ease-out;
            transition: clip-path 0.4s ease-out, -webkit-clip-path 0.4s ease-out;
            opacity: 0.5;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
          .offers__slider__info__extras {
            position: absolute;
            bottom: 23px;
            transition: -webkit-clip-path 0.4s 0.2s ease-out;
            transition: clip-path 0.4s 0.2s ease-out;
            transition: clip-path 0.4s 0.2s ease-out, -webkit-clip-path 0.4s 0.2s ease-out;
            white-space: nowrap;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
            .offers__slider__info__extras p {
              display: inline-block;
              margin-right: 1.1em; }
            .offers__slider__info__extras span {
              opacity: 0.5; }
          .offers__slider__info__description {
            max-width: 500px;
            letter-spacing: -0.02em;
            text-align: justify; }
            .offers__slider__info__description p:not(:last-of-type) {
              margin-bottom: 0.5em; }
          .offers__slider__info.is-hovered .offers__slider__info__text > div {
            -webkit-transform: translateY(0) !important;
            -ms-transform: translateY(0) !important;
            transform: translateY(0) !important; }
          .offers__slider__info.is-hovered .offers__slider__info__plus {
            -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
          .offers__slider__info.is-hovered .offers__slider__info__extras {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
          .offers__slider__info:not(.is-hovered) .offers__slider__info__plus {
            transition-delay: 0.33s; }
          .offers__slider__info:not(.is-hovered) .offers__slider__info__extras {
            transition-delay: 0s;
            transition-timing-function: ease-in; }
          .offers__slider__info.offers__slider__info--multiple {
            pointer-events: none; }
            .offers__slider__info.offers__slider__info--multiple .offers__slider__info__title {
              transition: -webkit-clip-path 0.4s 0.2s ease-in;
              transition: clip-path 0.4s 0.2s ease-in;
              transition: clip-path 0.4s 0.2s ease-in, -webkit-clip-path 0.4s 0.2s ease-in;
              -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
            .offers__slider__info.offers__slider__info--multiple .offers__slider__info__description {
              transition: opacity 0.6s 0.4s ease-in;
              opacity: 0; }
            .offers__slider__info.offers__slider__info--multiple .offers__slider__info__plus {
              visibility: hidden; }
            .offers__slider__info.offers__slider__info--multiple.is-active {
              pointer-events: auto; }
              .offers__slider__info.offers__slider__info--multiple.is-active .offers__slider__info__title {
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
              .offers__slider__info.offers__slider__info--multiple.is-active .offers__slider__info__description {
                opacity: 1; }
              .offers__slider__info.offers__slider__info--multiple.is-active .offers__slider__info__plus {
                visibility: visible; }
            .offers__slider__info.offers__slider__info--multiple:not(.is-active) .offers__slider__info__title {
              transition: -webkit-clip-path 0.4s ease-out;
              transition: clip-path 0.4s ease-out;
              transition: clip-path 0.4s ease-out, -webkit-clip-path 0.4s ease-out; }
            .offers__slider__info.offers__slider__info--multiple:not(.is-active) .offers__slider__info__description {
              transition: opacity 0.6s ease-out; }
      .offers.is-open .offers__list-nav {
        opacity: 1; } }
  @media all and (min-width: 1200px) {
    .offers__list li {
      padding: 33px 40px 31px 35px; }
    .offers__list__infos span:nth-of-type(2) {
      margin-left: 100px; }
    .offers__list__title:before {
      width: 8px;
      height: 8px;
      margin-top: -5px; }
    .offers__slider__info__text > div {
      -webkit-transform: translateY(calc(100% - 4em));
      -ms-transform: translateY(calc(100% - 4em));
      transform: translateY(calc(100% - 4em)); } }
  @media all and (max-width: 991px) {
    .offers__slider {
      display: none !important; }
    .offers.is-open .offers__mobile-top {
      opacity: 1; }
      .offers.is-open .offers__mobile-top:after {
        opacity: 1; }
    .offers.is-open .offers__list li {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
    .offers:not(.is-open) .offers__list li {
      transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s 0.25s ease-out;
      transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
      transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out, -webkit-transform 0.25s 0.25s ease-out; } }

.offer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .offer .slick-arrow {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-image: url("../images/ARROW.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 8px;
    z-index: 2; }
    .offer .slick-arrow.slick-prev {
      left: 5px;
      -webkit-transform: rotate(180deg) translateZ(0);
      transform: rotate(180deg) translateZ(0);
      background-image: url("../images/ARROW.svg"); }
    .offer .slick-arrow.slick-next {
      right: 5px; }
  .offer__gallery {
    width: 100%;
    height: 45vh;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }
    .offer__gallery__image {
      width: 100%;
      min-width: 100vw;
      height: 100%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover; }
      .offer__gallery__image.swiper-slide-active {
        z-index: 2; }
      .offer__gallery__image--vertical {
        background-color: #1c1c1c;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
    .offer__gallery .slick-arrow,
    .offer__gallery .swiper-button, .offer__gallery__button {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      background-image: url("../images/ARROW.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 8px;
      z-index: 2; }
      .offer__gallery .slick-arrow.slick-prev, .offer__gallery .slick-arrow.swiper-button-prev,
      .offer__gallery .swiper-button.slick-prev,
      .offer__gallery .swiper-button.swiper-button-prev, .offer__gallery__button.slick-prev, .offer__gallery__button.swiper-button-prev {
        left: 5px;
        -webkit-transform: rotate(180deg) translateZ(0);
        transform: rotate(180deg) translateZ(0); }
      .offer__gallery .slick-arrow.slick-next, .offer__gallery .slick-arrow.swiper-button-next,
      .offer__gallery .swiper-button.slick-next,
      .offer__gallery .swiper-button.swiper-button-next, .offer__gallery__button.slick-next, .offer__gallery__button.swiper-button-next {
        right: 5px; }
      .offer__gallery .slick-arrow.is-disabled,
      .offer__gallery .swiper-button.is-disabled, .offer__gallery__button.is-disabled {
        opacity: 0;
        pointer-events: none; }
  .offer__lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out;
    background: #000000;
    opacity: 0;
    z-index: 3;
    pointer-events: none; }
    .offer__lightbox.is-open {
      opacity: 1;
      pointer-events: auto; }
    .offer__lightbox__image {
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
  .offer__description {
    padding: 33px 20px 30px; }
    .offer__description h2 {
      margin-bottom: 1.15em; }
    .offer__description p {
      margin-bottom: 1.25em; }
    .offer__description > * {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
      transition: opacity 0.5s ease-in-out, -webkit-transform 0.33s ease-out;
      transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
      transition: opacity 0.5s ease-in-out, transform 0.33s ease-out, -webkit-transform 0.33s ease-out;
      opacity: 0; }
      .offer__description > *:nth-child(1) {
        transition-delay: 0.25s; }
      .offer__description > *:nth-child(2) {
        transition-delay: 0.45s; }
      .offer__description > *:nth-child(3) {
        transition-delay: 0.65s; }
      .offer__description > *:nth-child(4) {
        transition-delay: 0.85s; }
      .offer__description > *:nth-child(5) {
        transition-delay: 1.05s; }
      .offer__description > *:nth-child(6) {
        transition-delay: 1.25s; }
      .offer__description > *:nth-child(7) {
        transition-delay: 1.45s; }
      .offer__description > *:nth-child(8) {
        transition-delay: 1.65s; }
      .offer__description > *:nth-child(9) {
        transition-delay: 1.85s; }
      .offer__description > *:nth-child(10) {
        transition-delay: 2.05s; }
      .offer__description > *:nth-child(11) {
        transition-delay: 2.25s; }
      .offer__description > *:nth-child(12) {
        transition-delay: 2.45s; }
      .offer__description > *:nth-child(13) {
        transition-delay: 2.65s; }
      .offer__description > *:nth-child(14) {
        transition-delay: 2.85s; }
      .offer__description > *:nth-child(15) {
        transition-delay: 3.05s; }
  .offer.is-open {
    -webkit-animation: openOfferMobile 0.7s forwards ease-out;
    animation: openOfferMobile 0.7s forwards ease-out; }
    .offer.is-open .offer__gallery {
      opacity: 1; }
    .offer.is-open .offer__description > * {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
  .offer.is-closed {
    -webkit-animation: closeOfferMobile 0.7s forwards ease-out;
    animation: closeOfferMobile 0.7s forwards ease-out; }
    .offer.is-closed .offer__gallery,
    .offer.is-closed .offer__description > * {
      opacity: 0; }
  @media all and (min-width: 992px) {
    .offer__lightbox {
      display: none !important; }
    .offer__gallery {
      height: 100%;
      opacity: 1;
      z-index: 2; }
      .offer__gallery .slick-list {
        -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
        transform: scale(1.07); }
      .offer__gallery:before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.5s ease-out;
        background: #000000;
        content: '';
        opacity: 0.15;
        z-index: 2; }
      .offer__gallery.hovering-text:before {
        opacity: 0.69; }
      .offer__gallery .slick-arrow, .swiper-button
      .offer__gallery__button {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        background-size: 8px; }
        .offer__gallery .slick-arrow.slick-prev, .offer__gallery .slick-arrow.swiper-button-prev, .swiper-button
        .offer__gallery__button.slick-prev, .swiper-button
        .offer__gallery__button.swiper-button-prev {
          left: 17px; }
        .offer__gallery .slick-arrow.slick-next, .offer__gallery .slick-arrow.swiper-button-next, .swiper-button
        .offer__gallery__button.slick-next, .swiper-button
        .offer__gallery__button.swiper-button-next {
          right: 17px; } }
  @media all and (min-width: 1200px) {
    .offer__gallery .slick-arrow--follow,
    .offer__gallery .swiper-button--follow, .offer__gallery__button--follow {
      width: 66px;
      height: 66px;
      margin-top: -40px;
      background: none; }
      .offer__gallery .slick-arrow--follow__arrow,
      .offer__gallery .swiper-button--follow__arrow, .offer__gallery__button--follow__arrow {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../images/ARROW.svg");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 8px; }
      .offer__gallery .slick-arrow--follow.slick-next, .offer__gallery .slick-arrow--follow.swiper-button-next,
      .offer__gallery .swiper-button--follow.slick-next,
      .offer__gallery .swiper-button--follow.swiper-button-next, .offer__gallery__button--follow.slick-next, .offer__gallery__button--follow.swiper-button-next {
        right: 5px; }
      .offer__gallery .slick-arrow--follow.slick-prev, .offer__gallery .slick-arrow--follow.swiper-button-prev,
      .offer__gallery .swiper-button--follow.slick-prev,
      .offer__gallery .swiper-button--follow.swiper-button-prev, .offer__gallery__button--follow.slick-prev, .offer__gallery__button--follow.swiper-button-prev {
        left: 5px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none; }
        .offer__gallery .slick-arrow--follow.slick-prev .slick-arrow--follow__arrow,
        .offer__gallery .slick-arrow--follow.slick-prev .swiper-button--follow__arrow, .offer__gallery .slick-arrow--follow.swiper-button-prev .slick-arrow--follow__arrow,
        .offer__gallery .slick-arrow--follow.swiper-button-prev .swiper-button--follow__arrow,
        .offer__gallery .swiper-button--follow.slick-prev .slick-arrow--follow__arrow,
        .offer__gallery .swiper-button--follow.slick-prev .swiper-button--follow__arrow,
        .offer__gallery .swiper-button--follow.swiper-button-prev .slick-arrow--follow__arrow,
        .offer__gallery .swiper-button--follow.swiper-button-prev .swiper-button--follow__arrow, .offer__gallery__button--follow.slick-prev .slick-arrow--follow__arrow,
        .offer__gallery__button--follow.slick-prev .swiper-button--follow__arrow, .offer__gallery__button--follow.swiper-button-prev .slick-arrow--follow__arrow,
        .offer__gallery__button--follow.swiper-button-prev .swiper-button--follow__arrow {
          background-image: url("../images/ARROW-PREV.svg"); } }



/*# sourceMappingURL=main.css.map */
