body {
    @media #{$rwd-md-up} {
        &,
        *,
        a {
            cursor: none !important;
        }
    }
}

.cursor {
    display: none;
    position: fixed;
    top: -20px;
    left: -20px;
    width: $cursor-size;
    height: $cursor-size;
    transform: translate3d(-#{$cursor-size / 2}, -#{$cursor-size / 2}, 0);
    transform-origin: center;
    transition: width 0.25s, height 0.25s, opacity 0.5s;
    background: none;
    color: $black-color;
    opacity: 0;
    z-index: 1002;
    pointer-events: none;

    .is-loaded & {
        opacity: 1;
    }

    &__dot {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transition: all 0.25s;
        border-radius: 50%;
        background: rgba($whitey-color, 0.5);
    }

    &--disappear {
        .cursor__dot {
            transform: scale(0);
        }
    }

    &--dragging,
    &--on-link-medium {
        .cursor__dot {
            transform: scale(0.5);
        }
    }

    &--on-link {
        .cursor__dot {
            transform: scale(0.25);
            background: rgba($whitey-color, 1);
        }
    }

    .is-touch & {
        display: none !important;
    }

    @media #{$rwd-sm-down} {
        display: none !important;
    }
}
