.content-loader {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    transform: translate3d(0, 0, 0);
    background: $whitey-color;

    &--images,
    &--main {
        transition: all 3.5s ease-out; /* 0.5s */
    }

    &--directions {
        transition: opacity 2s 1s ease-out; /* 0.5s */
    }

    &.is-loaded {
        opacity: 0;
    }
}
