.logo {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 260px;
    margin-left: -130px;
    transform: translateZ(0);
    transition: opacity 0.6s ease-out;
    z-index: 1;
    user-select: none;
    pointer-events: none;

    &--main {
        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &:not(.is-hidden) {
            transition-delay: 0.2s;
        }
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__coordinates {
        margin-top: 0.84em;
        color: $whitey-color;
        font-family: $font-medium;
        font-size: 13px;
        pointer-events: none;
    }

    &__x,
    &__y {
        display: inline-block;
    }

    &__x {
        float: left;
        text-align: left;
    }

    &__y {
        float: right;
        text-align: right;
    }

    @media all and (min-width: 370px) {
        width: 280px;
        margin-left: -140px;
    }

    @media #{$rwd-md-up} {
        width: 314px;
        margin-left: -157px;
        z-index: 999;

        &__coordinates {
            font-size: 14px;
        }
    }

    @media #{$rwd-md-up} {
        &--viewfinder {
            width: 105px;
            margin-left: -52.5px;

            .logo__coordinates {
                font-size: 5.25px;
            }
        }

        [data-page="nos-offres"]:not(.is-loaded) &,
        [data-page="nos-realisations"]:not(.is-loaded) & {
            &.is-hidden,
            .logo__coordinates.is-hidden {
                opacity: 1;

                &.is-force-hidden {
                    opacity: 0;
                }
            }
        }
    }
}
