.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out, opacity 0.5s ease-out;
    background-position: 50%;
    background-size: cover;
    font: inherit;

    .is-opening-realisations & {
        display: none !important;
    }

    @media #{$rwd-sm-down} {
        top: -50px;
        left: -50px;
        width: calc(100% + 100px);
        height: calc(100% + 100px);
    }

    &.is-hidden {
        opacity: 0;
    }

    &.is-locked {
        pointer-events: none;
    }

    .is-loaded & {
        opacity: 1;
    }

    &.is-zoomed-in {
        transform: scale(1.1);

        ~ .nav {
            .nav-link-retour {
                opacity: 0 !important;
                pointer-events: none !important;
            }
        }
    }

    .mapboxgl-canvas-container {
        transform-origin: center;
        transition: transform 0.66s ease-out;
    }

    .mapboxgl-ctrl {
        opacity: 0;
        pointer-events: none;
    }

    * {
        cursor: none !important;
    }

    .nav-link {
        position: absolute;
        padding: 0;

        &__text {
            position: absolute;
            top: -59px;
            left: -32px;
            z-index: 1;
        }

        &.is-hovered {
            .nav-link__text {
                ~ .nav-link__image {
                    pointer-events: auto;
                }
            }
        }

        &--offer {
            .nav-link__text {
                pointer-events: none;
            }

            &.is-hovered {
                z-index: 1;

                .nav-link__hover {
                    pointer-events: none;
                }

                .nav-link__text {
                    pointer-events: auto;
                }
            }
        }

        &__dot {
            top: 50%;
            right: 50%;
            margin-top: -4px;
            transform-origin: center;
            transition: transform 0.5s;
        }

        &__image {
            position: absolute;
            top: -75px;
            left: -79px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: 50%;
            background-size: cover;
            pointer-events: none;
            clip-path: circle(0 at 50% 50%);

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(#000000, 0.33);
                content: '';
            }
        }

        &--glow {
            .nav-link__text {
                top: -59px;
                left: -16px;
            }

            .nav-link__dot {
                box-shadow: 0 0 16px 18px rgba(255, 255, 255, 0.33);

                &:before {
                    display: block;
                    position: absolute;
                    top: -12px;
                    left: -12px;
                    width: 30px;
                    height: 30px;
                    border: 1px solid $white-color;
                    border-radius: 50%;
                    content: '';
                }
            }
        }

        &.is-out-of-bounds {
            visibility: hidden;
        }

        &.is-hidden {
            .nav-link__text,
            .nav-link__dot {
                opacity: 0;
            }
        }

        &:not(.is-hidden):not(.is-out-of-bounds) {
            @for $i from 1 through 20 {
                &:nth-of-type(#{$i}) {
                    .nav-link__text {
                        transition: opacity 0.5s #{$i * 0.1s} ease-out, transform 0.25s ease-out;
                    }

                    .nav-link__dot {
                        transition-delay: $i * 0.2s;
                    }
                }
            }
        }

        &.is-too-small {
            pointer-events: none !important;

            .nav-link__text {
                opacity: 0;
            }

            .nav-link__dot {
                transform: scale(0.5);
            }
        }

        @media #{$rwd-sm-down} {
            display: none;
        }
    }
}
