.nav {
    position: absolute;
    right: 18px;
    text-align: right;
    z-index: 1;

    &-realisations {
        display: none;
    }

    &-link {
        transition: opacity 0.3s ease-out;
        font-family: $font-medium;
        font-size: 14px;
        user-select: none;

        .flag {
            position: absolute;
            position: absolute;
            left: 34px;
            bottom: -1.7em;
            font-size: 0.75em;
        }

        .nav & {
            position: relative;
        }

        &__hover {
            display: none;
        }

        &__text {
            display: inline-block;
            padding-right: 0.8em;
            white-space: nowrap;

            .is-touch & {
                transform: none !important;
            }

            @media #{$rwd-sm-down} {
                transform: none !important;
            }
        }

        &__dot {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $white-color;
        }

        &.is-hidden,
        &.is-home-hidden {
            opacity: 0;
            pointer-events: none;
        }

        &:not(.is-hidden) {
            transition-delay: 0.1s;
        }

        &.nav-link--offers-list {
            transition: opacity 0.6s ease-out;

            &.is-hidden {
                opacity: 0;
                pointer-events: none;
            }

            &:not(.is-hidden) {
                transition-delay: 0.2s;
            }
        }

        &.nav-link-contact {
            &:not(.is-hidden) {
                transition-delay: 1.6s;
            }
        }

        &-close {
            transition-delay: 0.1s;
            opacity: 0;
            pointer-events: none;

            &.is-active {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &--top {
        top: 18px;
        z-index: 3;

        .nav-link {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &--bottom {
        display: none;
    }

    &--main {
        bottom: 18px;

        li:not(:last-of-type) {
            margin-bottom: 24px;
        }

        .nav-link {
            &:not(.is-hidden) {
                transition: opacity 0.33s ease-in;
            }
        }

        @for $i from 1 through 4 {
            li:nth-of-type(#{$i}) {
                .nav-link {
                    &:not(.is-hidden) {
                        transition-delay: $i * 0.1s;
                    }
                }
            }
        }
    }

    @media #{$rwd-md-up} {
        right: 0;

        &-link {
            display: block;
            padding: 0;
            font-size: 15px;

            &__text {
                display: block;
                height: 144px;
                padding: 0 33px;
                transition: opacity 0.6s ease-out, transform 0.25s ease-out;
                line-height: 144px;
                text-align: center;

                span {
                    display: inline-block;
                }
            }

            &__hover {
                display: block;
                position: absolute;
                top: -16px;
                left: -19px;
                width: 32px;
                height: 32px;
                z-index: 2;
            }

            &__dot {
                top: 33px;
                right: 37px;
                width: 8px;
                height: 8px;
                transition: opacity 0.6s ease-out;
            }

            &-retour {
                transition: opacity 0.5s;
                opacity: 0;
                pointer-events: none;

                &.is-visible {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &--top {
            top: -21px;
            right: 17px;

            .nav-link__dot {
                top: 55px;
                right: 20px;
            }

            .nav-link {
                &[data-update-page='nos-offres'] {
                    top: 45px;
                }

                &[data-update-page='nos-offres'],
                &[data-update-page='nos-realisations'] {
                    transition: opacity 0.5s 0.2s ease-out;
                    opacity: 0;
                    pointer-events: none !important;
                }

                &[data-update-page='nos-realisations'] {
                    top: 90px;
                    transition-delay: 0.5s;
                }

                &:not(.nav-link-close) {
                    [data-page='realisation'] &,
                    [data-page='nos-realisations'] &,
                    [data-page='nos-offres'] & {
                        pointer-events: none !important;
                    }
                }
            }

            &.is-extended:not(.is-not-extended) {
                top: 36px;

                .nav-link {
                    &[data-update-page='nos-offres'],
                    &[data-update-page='nos-realisations'] {
                        opacity: 1;
                        pointer-events: auto !important;
                    }

                    &__text {
                        height: 45px;
                        margin-top: -7px;
                        padding: 0 33px 0 0;
                        line-height: 45px;
                    }

                    &__dot {
                        top: -2px;
                    }

                    &.is-hovered {
                        z-index: 1;
                    }
                }
            }

            &:not(.is-extended) {
                .nav-link {
                    &[data-update-page='nos-realisations'] {
                        transition-delay: 0s;
                    }

                    &[data-update-page='nos-offres'] {
                        transition-delay: 0.5s;
                    }
                }
            }
        }

        &--bottom {
            display: block;
            right: 17px;
            bottom: -21px;

            .nav-link__dot {
                top: 85px;
                right: 20px;
            }
        }

        &--main {
            display: none;
            bottom: 35px;
        }
    }

    @media all and (min-width: 1025px) {
        &-link {
            &[data-update-page='realisation'],
            &--egg {
                .nav-link__text {
                    > span {
                        transition: opacity 0.33s;
                        opacity: 0;
                    }
                }

                &.is-hovered {
                    .nav-link__text {
                        opacity: 1;

                        > span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    @media #{$rwd-sm-down} {
        &--top {
            .nav-link {
                &[data-update-page='nos-offres'],
                &[data-update-page='nos-realisations'] {
                    display: none !important;
                }
            }
        }
    }
}
