.viewfinder {
    display: none;

    @media #{$rwd-lg-up} {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 200px;
        height: 200px;
        transition: clip-path 1.33s ease-in-out;
        border-radius: 50%;
        z-index: 2;
        clip-path: circle(0 at 50% 50%);
        pointer-events: none;

        &__map {
            position: absolute;
            top: -25%;
            left: -25%;
            width: 150%;
            height: 150%;
            background-image: url('../images/viewfinder.png');
            background-position: center;
            background-size: cover;
        }

        &__logo,
        &__map {
            transition: transform 0.66s ease-out;
            will-change: transform;
        }

        &:hover {
            .viewfinder__map,
            .viewfinder__logo {
                transition: transform 0.66s ease-out;
            }
        }

        &:not(:hover) {
            .viewfinder__map,
            .viewfinder__logo {
                transition: transform 0.4s ease-out;
            }
        }

        &.is-active {
            pointer-events: auto;
            clip-path: circle(80px at 50% 50%);
        }

        &.is-released {
            transition: clip-path 0.5s ease-out;

            &:hover {
                clip-path: circle(110px at 50% 50%);
            }
        }

        &:not(.is-active) {
            transition-duration: 1s;
        }
    }
}
