body {
    position: fixed;
    background: $black-color;
    color: $white-color;
    overflow: hidden;
}

.preload-hidden {
    display: none;
}

.site {
    width: 100%; /* fd */
    height: 100%;
    overflow: hidden;
    clip-path: circle(150px at 50% 47.5%);

    .is-loaded & {
        animation: introAnimationMobileSmall 1.25s forwards ease-in-out;
    }

    @media all and (min-width: 370px) {
        clip-path: circle(175px at 50% 47.5%);

        .is-loaded & {
            animation-name: introAnimationMobile;
        }
    }

    @media #{$rwd-md-up} {
        overflow: hidden;
        clip-path: circle(193px at 50% 47.5%);

        .is-loaded & {
            animation-name: introAnimationDesktop;
        }
    }
}

.intro-info {
    position: absolute;
    top: 45%;
    width: 100%;
    margin-top: 240px;
    transition: opacity 0.33s 0.5s ease-out;
    color: rgba($white-color, 0.4);
    font-family: $font-bold-extended;
    text-align: center;
    text-transform: uppercase;
    user-select: none;

    [data-page='404'] & {
        display: none;
    }

    &--404 {
        display: none;

        [data-page='404'] & {
            display: block;
        }
    }

    .is-loaded & {
        opacity: 0;
        pointer-events: none;
    }

    @media #{$rwd-md-up} {
        margin-top: 270px;

        @media all and (min-height: 700px) {
            top: 85%;
            margin-top: 0;
        }
    }
}

.map-info {
    display: none;

    @media #{$rwd-md-up} {
        display: block;
        position: absolute;
        bottom: 23px;
        left: 0;
        width: 100%;
        transition: opacity 0.5s;
        color: $white-color;
        font-family: $font-medium;
        font-size: 15px;
        text-align: center;
        pointer-events: none;
        user-select: none;

        &.seen {
            opacity: 0.2;
        }

        &.is-hidden {
            opacity: 0;
        }
    }
}

.js-hide-on-open-offers-list {
    transition: opacity 0.6s ease-out;
    transform: translateZ(0);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    &:not(.is-hidden) {
        transition-delay: 0.2s;
    }
}

.covvver {
    display: none;
    position: fixed;
    top: 47.5%;
    left: 50%;
    width: 386px;
    height: 386px;
    margin: -193px 0 0 -193px;
    z-index: 1001;
    box-shadow: 0 0 0px 5px $black-color;

    .is-opening-realisations & {
        display: block;
    }

    &.is-hidden {
        display: none;
    }
}
