@include keyframes(introAnimationMobileSmall) {
    0% {
        clip-path: circle(150px at 50% 47.5%);
    }

    100% {
        clip-path: circle(100% at 50% 47.5%);
    }
}

@include keyframes(introAnimationMobile) {
    0% {
        clip-path: circle(175px at 50% 47.5%);
    }

    25% {
        clip-path: circle(150px at 50% 47.5%);
    }

    27% {
        clip-path: circle(150px at 50% 47.5%);
    }

    100% {
        clip-path: circle(100% at 50% 47.5%);
    }
}

@include keyframes(introAnimationDesktop) {
    0% {
        clip-path: circle(193px at 50% 47.5%);
    }

    25% {
        clip-path: circle(176px at 50% 47.5%);
    }

    27% {
        clip-path: circle(176px at 50% 47.5%);
    }

    100% {
        clip-path: circle(100% at 50% 47.5%);
    }
}

@include keyframes(openOfferMobile) {
    0% {
        clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@include keyframes(closeOfferMobile) {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    }
}
