@font-face {
    font-family: 'maison_neuebold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/maisonneue_bold-webfont.woff2') format('woff2'), url('../fonts/maisonneue_bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'maisonneueextended-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/maisonneueextended-bold-webfont.woff2') format('woff2'), url('../fonts/maisonneueextended-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'maison_neuemedium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/maisonneue-medium-webfont.woff2') format('woff2'), url('../fonts/maisonneue-medium-webfont.woff') format('woff');
}

body {
    font-family: $font-medium;
}

.h1,
.h2,
.h3,
.h4 {
    font-family: $font-bold-extended;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.h1,
.h4 {
    font-size: 16.5px;
    line-height: 1.1818181818;
}

.h2 {
    font-size: 12.5px;
    line-height: 1.16;
}

.h3 {
    font-size: 10px;
    line-height: 1;
}

.p {
    font-family: $font-medium;
    font-size: 14px;
    // line-height: 15px;
    // line-height: 1.0714285714;
    line-height: 1.21;
}

@media #{$rwd-md-up} {
    .h1 {
        font-size: 27px;
    }

    .h3 {
        font-size: 12px;
    }
}

@media #{$rwd-lg-up} {
    .h1 {
        font-size: 37px;
    }

    .h2 {
        font-size: 15px;
    }

    .h3 {
        font-size: 15px;

        &--small {
            font-size: 13px;
        }
    }

    .h4 {
        font-size: 20px;
    }

    .p {
        font-size: 15px;
    }
}

::selection {
    background: $black-color;
    color: $white-color;
}

::-moz-selection {
    background: $black-color;
    color: $white-color;
}
