<table border="0" cellpadding="0" width="440" cellspacing="0" style="font-family:Helvetica, Arial; color: #000000">
    <tbody>
        <tr border="0" cellpadding="0" cellspacing="0">
            <td style="width: 140px;" width="140" height="170" border="0" cellpadding="0" cellspacing="0">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td colspan="6" style="font-size: 12px;">
                                <p style="margin-bottom: 20px; font-size: 14px; line-height: 1; text-transform: uppercase; letter-spacing: 0.1em; line-height: 16px;"><strong>SERGE HAVET</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="font-size: 12px; line-height: 15px;">
                                <p style="margin: 0;">06.61.56.61.10</p>
                                <p style="margin: 0;">01.42.50.04.85</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="160" height="160" border="0" cellpadding="0" cellspacing="0">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="http://www.desquartiers.fr" target="_blank" style="display: inline-block;">
                                    <img style="width: 160px;" border="0" src="https://desquartiers.fr/themes/desquartiers/assets/images/SIGANTURE-MAIl_2019-07-04-3.gif">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 130px;" width="130" height="170" border="0" cellpadding="0" cellspacing="0">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td colspan="6" style="font-size: 12px; line-height: 16px; text-align: right; position: relative; top: -4px;">
                                <p style="margin-bottom: 20px;line-height: 20px;">
                                    <strong style="text-decoration: none; color: black; !important; line-height: 16px;">
                                        <a href="http://www.desquartiers.fr" target="_blank" style="text-decoration: none; color: black; !important; line-height: 16px;">www.desquartiers.fr</a>
                                    </strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: right; width: 130px; font-size: 12px; line-height: 15px; text-align: right;">
                                <p style="margin: 0;">271 rue fbg St-Antoine</p>
                                <p style="margin: 0;">75011 Paris France</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
