<!-- A PROPOS / ABOUT -->
<section class="section apropos about js-section js-apropos">
    <div class="section__content apropos__content about__content content">
        <h3 class="about__title h3">{{propos.title}}</h3>
        {{propos.description|raw}}
    </div>
</section>
