<!-- CONTACT -->
<section class="section contact js-section js-contact">
    <div class="contact__block content">
        <h4 class="h4">{{contact.title}}</h4>
        {{contact.description|raw}}
    </div>
    <div class="contact__block content">
        <h4 class="h4">{{contact.title_agency}}</h4>
        {{contact.description_agency|raw}}
    </div>
    <div class="contact__block contact__block--directions content">
        <h4 class="js-directions h4 js-directions js-cursor-hover">
            ITINERAIRE
        </h4>
    </div>
</section>
<div class="content-loader content-loader--directions js-directions-loader"></div>
