<!-- LOGO WITH COORDINATES -->
<div class="logo logo--main js-logo js-hide-on-open-offers-list js-fly-to" data-fly-to-lng="2.378628" data-fly-to-lat="48.853373" data-office-lng="2.388365" data-office-lat="48.849884">
    <svg class="logo__image" data-name="Calque1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 466.94 33.58"><path fill="#eee" d="M0 .69h13.2c9.75 0 16.29 5.43 16.29 16.1 0 11-6.63 16.1-16.38 16.1H0zm13 26c6.07 0 9.48-2.72 9.48-9.94 0-6.85-3.32-9.94-9.48-9.94H7v19.92zM43.19.69h24.34v6.16h-17.3v6.77h15.64v5.84H50.23v7.27h17.25v6.16H43.19zM79.39 22.27l6.9-1.38c1 4.64 3.68 6.76 8.7 6.76 4.09 0 6.44-1.34 6.44-3.64 0-2.07-1.7-3.35-8.88-4.92-8.88-2-12.38-4.83-12.38-9.66 0-5.2 5-9.38 12.75-9.38 7.36 0 13 3.72 14.44 9.66l-6.81 1.61C99.5 7.82 96.87 6 92.87 6c-3.36 0-5.66 1.42-5.66 3.35 0 1.62 1.52 2.49 8.7 4 8.55 1.89 12.56 5 12.56 10.54 0 5.89-5.25 9.61-13.53 9.61-8.65.08-14.32-4.01-15.55-11.23zM150.69 33.58l-3.68-3.08a17.3 17.3 0 0 1-10.21 3.08c-9.84 0-16.93-7-16.93-16.79S126.96 0 136.8 0s16.93 7 16.93 16.79a17.08 17.08 0 0 1-3 10l3.45 2.95zm-8.83-7.45l-4.85-4 3.54-3.77 4.85 4.08a12 12 0 0 0 1.29-5.61c0-6.35-4-10.63-9.89-10.63s-9.89 4.28-9.89 10.63 4 10.63 9.89 10.63a10.1 10.1 0 0 0 5.06-1.33zM167.62 20.52V.69h7V20.2c0 5.06 2.57 7.22 7.54 7.22s7.55-2.16 7.55-7.18V.69h7v19.83c0 8.69-5.39 13.06-14.59 13.06s-14.5-4.37-14.5-13.06zM232.67 27.92h-16.15l-2.12 5h-7.59L221.3.69h6.58l14.54 32.2h-7.64zm-2.58-6.16l-5.47-12.84-5.43 12.84zM274.85 21l7.86 11.91h-8l-7.45-11.64h-5.71v11.62h-7V.69h17c7 0 11.5 4 11.5 10.26 0 5.2-3 8.83-8.14 9.94zm-4.05-6c3.22 0 5.15-1.47 5.15-4.18s-1.65-4-5.24-4h-9.16V15zM305.02 6.9h-11.4V.69h29.9V6.9h-11.46v26h-7zM337.04.69h7v32.2h-7zM359.67.69h24.34v6.16h-17.3v6.77h15.64v5.84h-15.64v7.27h17.25v6.16h-24.29zM418.5 21l7.87 11.91h-8l-7.46-11.64h-5.7v11.62h-7V.69h17c7 0 11.5 4 11.5 10.26 0 5.2-3 8.83-8.15 9.94zm-4-5.94c3.22 0 5.15-1.47 5.15-4.18s-1.66-4-5.25-4h-9.15V15zM437.87 22.27l6.9-1.38c1 4.64 3.68 6.76 8.69 6.76 4.1 0 6.44-1.34 6.44-3.64 0-2.07-1.7-3.35-8.87-4.92-8.88-2-12.38-4.83-12.38-9.66 0-5.2 5-9.38 12.74-9.38 7.36 0 13 3.72 14.45 9.66l-6.81 1.61c-1.06-3.5-3.68-5.32-7.68-5.32-3.36 0-5.66 1.42-5.66 3.35 0 1.62 1.52 2.49 8.69 4 8.56 1.89 12.56 5 12.56 10.54 0 5.89-5.24 9.61-13.52 9.61-8.65.08-14.31-4.01-15.55-11.23z"/></svg>
    <div class="logo__coordinates js-hide-on-open-offers-list">
        <span class="logo__x js-center-lat" id="js-logo-lat">0.000000</span>
        <span class="logo__y js-center-lng" id="js-logo-lng">0.000000</span>
    </div>
</div>
