<!-- TOP NAVIGATION -->
<nav class="nav nav--top js-nav-top">
    <a href="/contact" data-update-page="contact" data-update-url="contact" data-update-title="Contact" class="nav-link nav-link-contact js-nav-link js-follow-link js-contact-link js-update-history" data-section="contact">
        <span class="nav-link__text js-follow-link-text">
            <span>contact</span>
        </span>
        <span class="nav-link__dot"></span>
    </a>
    <a href="/" data-update-url="/" data-update-page="home" data-update-title="Home" class="nav-link nav-link-close js-follow-link js-close-btn">
        <span class="nav-link__text js-follow-link-text">
            <span>fermer</span>
        </span>
        <span class="nav-link__dot"></span>
    </a>

    <!-- offers hidden navigation -->
    <a href="nos-offres" data-update-page="nos-offres" data-update-url="nos-offres" data-update-title="Nos offres" class="nav-link nav-link--glow nav-link--image nav-link--right js-nav-link js-follow-link js-reveal-slider" data-slider-id="offers" data-section="offers" data-lng="2.388594" data-lat="48.859604">
        <span class="nav-link__text js-follow-link-text">
            <span>nos offres</span>
        </span>
        <span class="nav-link__dot"></span>
    </a>
    <a href="nos-realisations" data-update-page="nos-realisations" data-update-url="nos-realisations" data-update-title="Nos réalisations" class="nav-link js-nav-link js-follow-link js-reveal-slider" data-slider-id="nos-realisations" data-section="realisations" data-lng="2.371779" data-lat="48.862557">
        <span class="nav-link__text js-follow-link-text">
            <span>nos réalisations</span>
        </span>
        <span class="nav-link__dot"></span>
    </a>
</nav>
<!-- BOTTOM NAVIGATION -->
<nav class="nav nav--bottom">
    <a href="#" class="nav-link nav-link-retour js-follow-link js-retour-link js-fly-to" data-fly-to-lng="2.378628" data-fly-to-lat="48.853373">
        <span class="nav-link__text js-follow-link-text">
            <span>retour</span>
        </span>
        <span class="nav-link__dot"></span>
    </a>
</nav>
<!-- MAIN NAVIGATION -->
<nav class="nav nav--main js-nav-main">
    <ul>
        <li>
            <a href="nos-offres" data-update-page="nos-offres" data-update-url="nos-offres" data-update-title="Nos offres" class="nav-link nav-link--glow nav-link--image nav-link--right js-nav-link js-offer-link js-follow-link js-reveal-slider js-list-link" data-slider-id="offers" data-section="offers" data-lng="2.388594" data-lat="48.859604">
                <span class="nav-link__text js-follow-link-text">
                    <span>nos offres</span>
                </span>
                <span class="nav-link__dot"></span>
                <div class="nav-link__image js-image-to-load" style="background-image: url({{ rFirstSale.images.first|smart_resize(300,300, {'mode': 'crop'}) }})"></div>
            </a>
        </li>
        <li>
            <a href="nos-realisations" data-update-page="nos-realisations" data-update-url="nos-realisations" data-update-title="Nos réalisations" class="nav-link nav-link--image nav-link--right js-nav-link js-offer-link js-follow-link js-reveal-slider js-list-link" data-slider-id="nos-realisations" data-section="realisations" data-lng="2.371779" data-lat="48.862557">
                <span class="nav-link__text js-follow-link-text">
                    <span>nos réalisations</span>
                </span>
                <span class="nav-link__dot"></span>
                <div class="nav-link__image js-image-to-load" style="background-image: url({{ rFirstNotSale.images.first|smart_resize(300,300, {'mode': 'crop'}) }})"></div>
            </a>
        </li>
        <li>
            <a href="/nos-metiers" data-update-page="nos-metiers" data-update-url="nos-metiers" data-update-title="Nos métiers" class="nav-link nav-link--right js-nav-link js-follow-link js-zoom-to js-hide-markers" data-section="nos-metiers" data-lng="2.369448" data-lat="48.846011">
                <span class="nav-link__text js-follow-link-text">
                    <span>nos métiers</span>
                </span>
                <span class="nav-link__dot"></span>
            </a>
        </li>
        <li>
            <a id="apropos-nav" href="agence" href="/agence" data-update-page="agence" data-update-url="agence" data-update-title="L'agence" class="nav-link nav-link--right js-nav-link js-follow-link js-zoom-to js-hide-markers" data-section="apropos" data-lng="2.388365" data-lat="48.849884">
                <span class="nav-link__text js-follow-link-text">
                    <span>agence</span>
                </span>
                <span class="nav-link__dot"></span>
            </a>
        </li>
    </ul>
</nav>
<!-- REALISATIONS NAVIGATION -->
<nav class="nav-realisations js-nav-realisations">
    <ul>
        <!-- ALL REALISATIONS -->
        {% for r in realisations %}
            <li>
                <a href="/realisation/{{ r.slug }}" data-update-page="realisation" data-update-url="realisation/{{ r.slug }}" data-update-title="{{ r.title|raw }}" class="nav-link{% if r.is_on_sale %} nav-link--glow{% endif %} nav-link--image nav-link--right nav-link--offer js-nav-link js-follow-link js-offer-link js-reveal-slider is-home-hidden" data-section="realisations" data-slider-id="{{ r.id }}" data-lng="{{ r.lng }}" data-lat="{{ r.lat }}">
                    <span class="nav-link__hover js-nav-link-hover"></span>
                    <span class="nav-link__text js-follow-link-text">
                        <span>{{ r.title|raw }}</span>
                        <span class="flag">{% if r.is_on_sale %}— Offre actuelle{% else %}— Vente réalisée{% endif %}</span>
                    </span>
                    <span class="nav-link__dot"></span>
                    <div class="nav-link__image js-image-to-load" style="background-image: url({{ r.images.first|smart_resize(300,300, {'mode': 'crop'}) }})"></div>
                </a>
            </li>
        {% endfor %}
        <!-- EASTER EGGS  -->
        {% for egg in eggs %}
            <li>
                <a {% if egg.images.first is empty %}href="{{ egg.link }}" target="_blank"{% else %} href="/realisation/{{ egg.slug }}" data-update-page="realisation" data-update-url="realisation/{{ egg.slug }}" data-update-title="{{ egg.title }}" {% endif %} class="nav-link nav-link--image nav-link--egg nav-link--right nav-link--offer js-egg-link js-follow-link{% if egg.images.first is not empty %} js-nav-link js-offer-link js-reveal-slider{% endif %} is-home-hidden" data-section="realisations" data-slider-id="egg-{{ egg.id }}" data-lng="{{ egg.lng }}" data-lat="{{ egg.lat }}">
                    <span class="nav-link__hover js-nav-link-hover"></span>
                    <span class="nav-link__text js-follow-link-text">
                        <span>{{egg.title}}</span>
                    </span>
                    <span class="nav-link__dot"></span>
                    {% if egg.images.first is not empty %}
                        <div class="nav-link__image js-image-to-load" style="background-image: url({{ egg.images.first|smart_resize(300,300, {'mode': 'crop'}) }})"></div>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
