<!-- NOS METIERS / BUSINESS -->
<section class="section nos-metiers about js-section js-nos-metiers">
    <div class="nos-metiers__menu nos-metiers__title about__title h3">
        <h1 class="nos-metiers__menu__title">nos métiers : </h1>
        <ul class="nos-metiers__menu__nav js-apropos-nav">
            <li>
                <a href="#transaction" class="js-cursor-hover">{{profession.title1}}</a>
            </li>
            <li>
                <a href="#expertise" class="js-cursor-hover">{{profession.title2}}</a>
            </li>
            <li>
                <a href="#gestion" class="js-cursor-hover">{{profession.title3}}</a>
            </li>
        </ul>
    </div>
    <div class="nos-metiers__contents">
        <div class="nos-metiers__content about__content content js-apropos-section">
            {{profession.description1|raw}}
            <div class="nos-metiers__content__logotypes">
                {% if profession.logotype1_1.path %}
                    <img class="js-image-to-load" src="{{profession.logotype1_1.path}}" alt="{{profession.logotype1_1.title}}">
                {% endif %}
                {% if profession.logotype1_2.path %}
                    <img class="js-image-to-load" src="{{profession.logotype1_2.path}}" alt="{{profession.logotype1_2.title}}">
                {% endif %}
                {% if profession.logotype1_3.path %}
                    <img class="js-image-to-load" src="{{profession.logotype1_3.path}}" alt="{{profession.logotype1_3.title}}">
                {% endif %}
            </div>
        </div>
        <div class="nos-metiers__content about__content content js-apropos-section">
            {{profession.description2|raw}}
            <div class="nos-metiers__content__logotypes">
                {% if profession.logotype2_1.path %}
                    <img class="js-image-to-load" src="{{profession.logotype2_1.path}}" alt="{{profession.logotype2_1.title}}">
                {% endif %}
                {% if profession.logotype2_2.path %}
                    <img class="js-image-to-load" src="{{profession.logotype2_2.path}}" alt="{{profession.logotype2_2.title}}">
                {% endif %}
                {% if profession.logotype2_3.path %}
                    <img class="js-image-to-load" src="{{profession.logotype2_3.path}}" alt="{{profession.logotype2_3.title}}">
                {% endif %}
            </div>
        </div>
        <div class="nos-metiers__content about__content content js-apropos-section">
            {{profession.description3|raw}}
            <div class="nos-metiers__content__logotypes">
                {% if profession.logotype2_1.path %}
                    <img class="js-image-to-load" src="{{profession.logotype3_1.path}}" alt="{{profession.logotype3_1.title}}">
                {% endif %}
                {% if profession.logotype3_2.path %}
                    <img class="js-image-to-load" src="{{profession.logotype3_2.path}}" alt="{{profession.logotype3_2.title}}">
                {% endif %}
                {% if profession.logotype3_3.path %}
                    <img class="js-image-to-load" src="{{profession.logotype3_3.path}}" alt="{{profession.logotype3_3.title}}">
                {% endif %}
            </div>
        </div>
    </div>
</section>
