<!-- NOS OFFRES -->
<section class="section offers js-section js-offers js-slider-container" data-slider-container-id="offers">
    <div class="offers__mobile-top"></div>
    <nav class="offers__list-nav js-offers-list-nav">
        <a href="#" class="nav-link nav-link--offers-list js-follow-link js-open-offers-list js-hide-on-open-offers-list" data-url="/nos-offres">
            <span class="nav-link__text js-follow-link-text">
                <span>liste des offres</span>
            </span>
            <span class="nav-link__dot"></span>
        </a>
    </nav>
    <div class="offers__list-container js-offers-list-container">
        <ul class="offers__list js-offers-list">
            {% for r in realisations %}
                {% if r.is_on_sale %}
                    <li class="js-open-offer" data-offer-id="{{ r.id }}">
                        <h2 class="offers__list__title h2">{{ r.title|raw }}</h2>
                        <p class="offers__list__infos p">
                            <span class="offers__list__info{% if r.square is not empty %} offers__list__info--square{% endif %}">{% if r.square is not empty %}{{r.square}}m<sup>2</sup>{% endif %}</span>
                            <span class="offers__list__info">{% if r.price is not empty %}{{r.price}}{% endif %}</span>
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="single-offers-mobile">
        {% for r in realisations %}
            {% if r.is_on_sale %}
                <div class="offer js-offer" data-offer-id="{{ r.id }}" data-images-loaded="0">
                    <div class="offer__gallery js-offer-gallery">
                        {% for i in r.images %}
                            {% set info= getImageSizeAttributes(i) %}
                            <div class="{%if info.width<info.height%} offer__gallery__image--vertical {%else%} offer__gallery__image {%endif%} js-open-lightbox">
                                <img class="js-offer-gallery-image offer__gallery__image" data-lazy="{{ i.getThumb(1920,'auto',{quality:70}) }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="offer__lightbox js-offer-lightbox">
                        {% for i in r.images %}
                            <div class="offer__lightbox__image js-offer-lightbox-image">
                                <img src="">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="offer__description content">
                        <h2>{{ r.title|raw }}</h2>
                        {{ r.description|raw }}
                        <div class="offer__description__infos">
                            {% if r.price is not empty %}
                                <h2>
                                    <span>Prix :</span> {{ r.price }}
                                </h2>
                            {% endif %}
                            {% if r.square is not empty %}
                                <h2>
                                    <span>Surface :</span> {{ r.square }}m<sup>2</sup>
                                </h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="loader loader--images js-mobile-images-loader"></div>
    </div>

    <div data-slider-id="offers" class="js-offers-slider offers__slider offers__slider--desktop" data-images-loaded="0">
        <div class="offer__gallery js-offer-gallery swiper-container">
            <div class="swiper-wrapper">
            {% set imgCount = 0 %}
            {% for r in realisations %}
                {% if r.is_on_sale %}
                    {% set imgCount = imgCount + r.images.count %}
                    {% set hashNo = 1 %}
                    {% set listIndex = 0 %}
                    {% for i in r.images %}
                        {% if currentSlug != r.slug %}
                            {% set hashNo = 1 %}
                        {% endif %}
                        {% set currentSlug = r.slug %}
                        {% set info= getImageSizeAttributes(i) %}
                        <div
                            data-image-uri="{{ i.getThumb(1920,'auto',{quality:70}) }}"
                            data-background="{{ i.getThumb(1920,'auto',{quality:70}) }}"
                            class="swiper-slide swiper-lazy {%if info.width<info.height%}offer__gallery__image--vertical {%else%}offer__gallery__image {%endif%}"
                            data-slide-url="/nos-offres/{{ r.slug }}#{{ hashNo }}"
                            data-offer-slug="{{ r.slug }}"
                            data-offer-image-slug="{{ r.slug }}-{{ hashNo }}"
                            data-offer-image-id="{{ hashNo }}"
                            data-offer-id="{{ r.id }}"
                            data-lng="{{ r.lng }}"
                            data-lat="{{ r.lat }}"
                            >
                        </div>
                        {% set hashNo = hashNo + 1 %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="offer__gallery__button offer__gallery__button--follow offer__gallery__button--prev swiper-button swiper-button-prev swiper-button--follow js-cursor-hover-medium js-hide-on-open-offers-list js-swiper-button">
            <span class="offer__gallery__button--follow__arrow swiper-button--follow__arrow js-follow-arrow"></span>
        </div>
        <div class="offer__gallery__button offer__gallery__button--follow offer__gallery__button--next swiper-button swiper-button-next swiper-button--follow js-cursor-hover-medium js-hide-on-open-offers-list js-swiper-button">
            <span class="offer__gallery__button--follow__arrow swiper-button--follow__arrow js-follow-arrow"></span>
        </div>

        <div class="offers__slider__info-container js-offer-info-slider js-hide-on-open-offers-list">
            {% for r in realisations %}
                {% if r.is_on_sale %}
                    <div class="offers__slider__info offers__slider__info--multiple js-offer-info" data-offer-id="{{ r.id }}">
                        <div class="offers__slider__info__text js-offer-info-text">
                            <div class="offers__slider__info__toggle js-toggle-offer-info">
                                <h1 class="offers__slider__info__title h3">{{ r.title|raw }}</h1>
                                <div class="offers__slider__info__description p js-offer-description">
                                    {{ r.description|raw }}
                                </div>
                            </div>
                        </div>
                        <p class="offers__slider__info__plus h3 h3--small js-toggle-offer-info">Voir plus</p>
                        <div class="offers__slider__info__extras">
                            {% if r.is_on_sale %}
                                <p class="offers__slider__info__price h3 h3--small">
                                    <span>Prix :</span> {{ r.price }}
                                </p>
                            {% endif %}
                            {% if r.square is not empty %}
                                <p class="offers__slider__info__surface h3 h3--small">
                                    <span>Surface :</span> {{ r.square }}m<sup>2</sup>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <p class="offers__slider__count js-offer-gallery-count js-hide-on-open-offers-list">
            Image <span class="js-offer-gallery-active">1</span>/<span class="js-offer-gallery-total">{{ imgCount }}</span>
        </p>
        <div class="offers__preview-swiper js-preview-swiper swiper-container">
            <div class="swiper-wrapper">
                {% for r in realisations %}
                    {% if r.is_on_sale %}
                        {% set info= getImageSizeAttributes(r.images.first) %}
                        <div data-slider-id="{{ r.id }}" class="swiper-slide offers__preview {%if info.width<info.height%} offers__preview--vertical{% endif %}" style="background-image: url({{ r.images.first.getThumb(1920,'auto',{quality:70}) }})"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="loader loader--images js-images-loader"></div>
</section>
