<div class="viewfinder js-viewfinder js-cursor-hover">
    <div class="viewfinder__map js-viewfinder-map"></div>
    <div class="viewfinder__logo logo logo--viewfinder js-viewfinder-logo">
        <img class="logo__image js-image-to-load" src="{{ 'assets/images/LOGOTYPE-DESQUARTIERS.svg'|theme }}" alt="DESQUARTIERS">
        <div class="logo__coordinates">
            <span class="logo__x js-center-lat">48.843244</span>
            <span class="logo__y js-center-lng">2.423421</span>
        </div>
    </div>
</div>
