<?= Form::open(['class'=>'layout']) ?>
<link rel="stylesheet" href="/modules/backend/formwidgets/richeditor/assets/css/richeditor.css">
<script src="/modules/backend/formwidgets/richeditor/assets/js/build-min.js"></script>
<script src="/modules/backend/formwidgets/richeditor/assets/js/richeditor.js"></script>
<script src="/modules/backend/formwidgets/codeeditor/assets/js/build-min.js"></script>


<div class="layout-row">
    <div class="form-group  text-field ">
        <h3>A propos</h3>
        <div class="layout-row">

            <div class="form-group  text-field span-left is-required">
                <label>Titre</label>
                <textarea class="form-control" rows="2" required type="text" name="data[title]"
                          placeholder=""
                          autocomplete="off"><?= $data->title ?></textarea>
            </div>
        </div>
        <div class="layout-row">
            <div class="form-group  text-field span-left ">
                <label>Texte</label>


                <div
                    id="RichEditor-formInfos-description"
                    class="field-richeditor size-giant "
                    data-links-handler="formInfos::onLoadPageLinksForm"
                    data-ace-vendor-path="/modules/backend/formwidgets/codeeditor/assets/vendor/ace"
                    placeholder=""
                    data-control="richeditor">

             <textarea required type="text" name="data[description]"
                       id="RichEditor-formInfos-textarea-description"
                       placeholder=""
                       autocomplete="off"><?= $data->description ?></textarea>

                    <div class="height-indicator"></div>
                </div>


            </div>
        </div>

        <div class="form-group  span-full">
            <div class="form-buttons">
                <div class="loading-indicator-container">
                    <button
                        type="submit"
                        data-request-files=""
                        data-request="onUpdate"
                        data-request-data="redirect:1"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving type..."
                        class="btn btn-primary">
                        <u>S</u>ave
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>


<?= Form::close() ?>
