title = 404
url = "/404"
layout = "default"
description = "Lorem ipsum dolor sit amet."
is_hidden = 0
==
<div class="jumbotron">
    <div class="container">
        <h1>Page not found</h1>
        <p>We're sorry, but the page you requested cannot be found.</p>
    </div>
</div>