title = "Error page (500)"
url = "/error"
layout = "default"
description = "Lorem ipsum dolor sit amet."
is_hidden = 0
==
<div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div>