[descriptions]
[title]
description = "Default layout"
==
{% set version = 77 %}
<!DOCTYPE html>
<html>
<head>
    {% set og_image_src %}{% if this.page.id == 'realisation' %}{{realisation.images.first.getThumb(1920,'auto')}}{% else %}{{ 'assets/images/desquartiers.jpg' | theme }}{% endif %}{% endset %}
    {% set og_desc %}{% if this.page.id == 'realisation' %}{{realisation.description|striptags}}{% else %}{{ this.page.description}}{% endif %}{% endset %}
    {% set og_desc_short %}{{ (og_desc|length > 150 ? og_desc|slice(0, 150) ~ '…' : og_desc)  }}{% endset %}
    <title>Desquartiers | {{ this.page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ og_desc_short }}">
    <meta name="keywords" content="vente, estimation, conseil, location, gestion locative, appartement, immeuble, copropriété, notaire, diagnostic, rénovation, local, boutique, bureau, plateau, travaux, surface, terrain, promotion, marchand de biens">
    <meta name="title" content="Desquartiers | {{ this.page.title }}">
    <meta name="author" content="feldman.studio">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link href="{{ 'assets/css/main.css'|theme }}?v={{version}}" rel="stylesheet">

    <!-- SOCIAL SHARING META -->

	<!-- Open Graph data -->
	<meta property="og:url" content="{{ this.page.id | page }}">
	<meta property="og:image" content="{{ og_image_src }}">
	<meta property="og:title" content="Desquartiers | {{ this.page.title }}">
	<meta property="og:description" content="{{ og_desc_short }}">

    <!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Desquartiers | {{ this.page.title }}">
	<meta name="twitter:description" content="{{ og_desc_short }}">
	<meta name="twitter:image" content="{{ og_image_src }}">
	<meta property="og:url" content="{{ this.page.id | page }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/favicons/apple-touch-icon.png' | theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicons/favicon-32x32.png' | theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicons/favicon-16x16.png' | theme }}">
    <link rel="manifest" href="{{ 'assets/images/favicons/site.webmanifest' | theme }}">
    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg' | theme }}" color="#1d1d1b">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body data-page="{{ this.page.id }}" data-slug="{{this.param.slug}}" data-is-gallery="{{this.page.is_gallery}}">
    {% partial 'cursor' %}
    <div class="covvver"></div>
    <div class="site">
        <div class="site__loader"></div>
        {% partial 'logo' %}
        {% partial 'map' %}
        {% partial 'contact' %}
        {% partial 'agence' %}
        {% partial 'nos-metiers' %}
        {% partial 'offers' %}
        {% partial 'realisations' %}
        {% partial 'nav' %}
        {% partial 'viewfinder' %}
        {{ page() }}
    </div>
    <div class="content-loader content-loader--main js-images-loader-main"></div>
    <p class="intro-info">L'IMMOBILIER EN MOUVEMENT</p>
    <p class="intro-info intro-info--404">Page non trouvée</p>
    <!-- Scripts -->
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <script src="{{ 'assets/js/dist/swiper.min.js'|theme }}?v={{version}}"></script>
    <script src="{{ 'assets/js/dist/main.min.js'|theme }}?v={{version}}"></script>

    {% if this.environment == 'dev' %}
        <!-- <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script> -->
    {% endif %}
</body>
</html>
