.about {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 75px 20px 30px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &__title {
        margin-bottom: 1.8em;
        transform: translate3d(-10px, 0, 0);
        transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
        opacity: 0;
    }

    &__content {
        h1 {
            max-width: 18em;
            margin-bottom: 1em;
        }

        p {
            max-width: 38em;
            margin-bottom: 1.25em;
        }

        > * {
            transform: translate3d(-10px, 0, 0);
            transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
            opacity: 0;

            @for $i from 1 through 15 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.2s;
                }
            }
        }
    }

    &.is-open {
        .about__title {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &:not(.is-open) {
        .about__title {
            transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
        }
    }

    @media #{$rwd-lg-up} {
        &__title {
            margin-bottom: 1.33em;
        }

        &__content {
            h1 {
                margin-bottom: 0.85em;
            }

            p {
                max-width: 33em;
                text-align: justify;
            }
        }
    }
}
