.apropos {
    &__menu {
        margin-bottom: 2.5em;
        line-height: 1.5;

        &__title,
        &__nav {
            display: inline-block;
            vertical-align: top;
        }
    }

    &.is-open {
        .content > * {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &:not(.is-open) {
        .content > * {
            transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
        }
    }

    @media #{$rwd-md-up} {
        position: relative;
        padding: 0;

        &__container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &__content {
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
    }

    @media #{$rwd-lg-up} {
        &__content {
            bottom: 90px;
            left: 85px;
        }
    }

    ::selection {
        background: $white-color;
        color: $black-color;
    }

    ::-moz-selection {
        background: $white-color;
        color: $black-color;
    }
}
