.contact {
    right: 18px;
    bottom: 18px;
    text-align: right;

    &__block {
        transform: translate3d(10px, 0, 0);
        transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
        opacity: 0;

        &:nth-of-type(1) {
            transition-delay: 0s;
        }

        &:nth-of-type(2) {
            transition-delay: 0.2s;
        }

        &:nth-of-type(3) {
            transition-delay: 0.4s;
        }

        &:not(:last-of-type) {
            margin-bottom: 32px;
        }

        h4 {
            margin-bottom: 0.75em;
        }

        &--directions {
            display: none;
        }
    }

    &.is-open {
        .contact__block {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &:not(.is-open) {
        .contact__block {
            transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
        }
    }

    @media #{$rwd-md-up} {
        right: 35px;
        bottom: 45px;

        &__block {
            padding: 45px 20px 17px 0;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                right: -35px;
                width: 185px;
                height: 1px;
                background: rgba($white-color, 0.5);
                content: '';
            }

            &--directions {
                display: block;
            }
        }
    }
}
