.nos-metiers {
    &__title,
    &__contents {
        transform: translate3d(-10px, 0, 0);
        transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
        opacity: 0;
    }

    &__contents {
        position: relative;
    }

    &__menu {
        margin-bottom: 2.5em;
        line-height: 1.5;

        &__title,
        &__nav {
            display: inline-block;
            vertical-align: top;
        }

        &__title {
            position: relative;
            padding-right: 1.5em;

            &:after {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0.5em;
                width: 4px;
                height: 4px;
                margin-top: -2px;
                border-radius: 50%;
                background: $white-color;
                content: '';
            }
        }

        &__nav {
            position: relative;
            top: -0.25em;
            transition: transform 0.25s ease-out;

            li {
                transition: opacity 0.25s ease-in-out;

                a {
                    display: inline-block;
                    padding: 0.25em 0;
                }

                &:not(.is-active) {
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.is-open {
        .nos-metiers__title,
        .nos-metiers__contents {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &:not(.is-open) {
        .nos-metiers__title,
        .nos-metiers__contents {
            transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
        }
    }

    &__content {
        position: absolute;

        &__logotypes {
            margin-top: 38px;

            img {
                display: inline-block;
                height: 30px;

                &:not(:last-of-type) {
                    margin-right: 12px;
                }
            }
        }

        &.is-active {
            z-index: 3;

            > * {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }

        &:not(.is-active) {
            > * {
                transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
            }
        }
    }

    @media #{$rwd-md-up} {
        position: relative;
        padding: 34vh 0 0 30px;

        &__menu {
            &__nav {
                top: 0;

                li {
                    a {
                        padding: 0;
                    }
                }
            }
        }

        &__content {
            margin-bottom: 70px;

            &__logotypes {
                margin-top: 76px;

                img {
                    height: 50px;

                    &:not(:last-of-type) {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    @media #{$rwd-lg-up} {
        padding-left: 85px;
    }

    ::selection {
        background: $white-color;
        color: $black-color;
    }

    ::-moz-selection {
        background: $white-color;
        color: $black-color;
    }
}
