.offers {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 64px 0 30px;
    transition: opacity 0.5s ease-out;
    opacity: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        opacity: 1;
    }

    &.is-open {
        ~ .nav--top {
            &.is-extended {
                .nav-link {
                    &[data-update-page='nos-offres'],
                    &[data-update-page='nos-realisations'] {
                        opacity: 0;
                        pointer-events: none !important;
                    }
                }
            }
        }
    }

    &:before {
        top: 64px;
        background: $black-color;
    }

    &__mobile-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        transition: opacity 0.7s ease-out;
        background: $black-color;
        opacity: 0;
        z-index: 2;

        &:after {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            transition: opacity 0.2s ease-in-out;
            background: rgba($white-color, 0.5);
            content: '';
            opacity: 0;
        }
    }

    &__preview {
        display: none;
    }

    &__list {
        &-nav {
            display: none;
        }

        .section:not(.is-open) & {
            pointer-events: none !important;
        }

        li {
            padding: 16px 28px 14px 20px;
            transform: translate3d(-10px, 0, 0);
            transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
            border-top: 1px solid rgba($white-color, 0.5);
            opacity: 0;
            overflow: hidden;

            .section:not(.is-open) & {
                pointer-events: none !important;
            }

            * {
                pointer-events: none;
            }

            &:last-of-type {
                border-bottom: 1px solid rgba($white-color, 0.5);
            }

            @for $i from 1 through 15 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.08s;
                }
            }

            // sup {
                // display: inline-block;
                // vertical-align: bottom;
            // }
        }

        &__title {
            margin-bottom: 7px;
        }

        &__info {
            &:nth-of-type(1) {
                float: left;
            }

            &:nth-of-type(2) {
                float: right;
            }

            &--square {
                position: relative;
                top: -0.15em;
            }
        }
    }

    @media #{$rwd-md-up} {
        overflow: hidden;

        &:before,
        &__mobile-top {
            display: none;
        }

        &__list {
            &-container {
                display: none;
                position: absolute;
                top: 95px;
                left: 0;
                width: 100%;
                height: calc(100% - 95px);
                padding-bottom: 95px;
                overflow: scroll;
                z-index: 2;

                &:before,
                &:after {
                    position: fixed;
                    top: 95px;
                    left: 0;
                    width: 100%;
                    transition: opacity 0.5s ease-out;
                    content: '';
                    opacity: 0;
                }

                &:after {
                    height: calc(100% - 95px);
                    background: rgba($black-color, 0.7);
                    z-index: -1;
                }

                &:before {
                    width: 100%;
                    height: 1px;
                    background: rgba($white-color, 0.5);
                    z-index: 1;
                }

                &.is-open {
                    li {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }

                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }

                &:not(.is-open) {
                    &:after {
                        transition-delay: 0.5s;
                    }
                }
            }

            &-nav {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 95px;
                transition: opacity 0.5s 0.5s ease-out;
                opacity: 0;
                z-index: 3;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: opacity 0.5s ease-out;
                    background: rgba($black-color, 0.7);
                    content: '';
                    opacity: 0;
                    z-index: -1;
                }

                &.is-open {
                    &:before {
                        opacity: 1;
                    }
                }

                &:not(.is-open) {
                    &:before {
                        transition-delay: 0.5s;
                    }
                }

                .nav-link {
                    position: absolute;
                    top: -22px;
                    right: 19px;

                    &__dot {
                        // top: 55px;
                        // left: 20px;
                        top: 56px;
                        right: 18px;
                    }

                    &:nth-of-type(2) {
                        display: none;
                    }
                }

                .is-open-single & {
                    display: none;
                }
            }

            li {
                padding: 33px 28px 31px 20px;
                overflow: hidden;

                &:first-of-type {
                    border-top: none;
                }

                &:last-of-type {
                    border-bottom: 1px solid rgba($white-color, 0.5);
                }

                > * {
                    transition: opacity 0.5s ease-out;
                    opacity: 0.5;
                    pointer-events: none;
                }

                &.is-active,
                &.is-hovered {
                    > * {
                        opacity: 1;
                    }

                    .offers__list__title {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }

            &__title {
                position: relative;
                margin-bottom: 0;
                padding-left: 20px;
                float: left;

                &:before {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    margin-top: -4px;
                    transition: opacity 0.5s ease-out;
                    border-radius: 50%;
                    background-color: $white-color;
                    content: '';
                    opacity: 0;
                }
            }

            &__infos {
                float: right;

                span {
                    &:nth-of-type(2) {
                        min-width: 110px;
                        margin-left: 50px;
                    }
                }
            }
        }

        &__preview-swiper {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transform: scale(1.07);
            transform-origin: center;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: black;
                content: '';
            }

            .swiper-slide:not(.swiper-slide-active) {
                opacity: 0 !important;
            }

            .swiper-slide.swiper-slide-active {
                opacity: 1 !important;
            }
        }

        &__preview {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: 100vw;
            height: 100%;
            background-position: 50%;
            background-size: cover;
            z-index: 1;

            &--vertical {
                background-color: #1c1c1c;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

            &:before {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: opacity 0.5s ease-out;
                background: $black-color;
                content: '';
                opacity: 0.15;
                z-index: 1;
            }
        }

        &__slider {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: clip-path 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            z-index: 1;

            &.is-active {
                // display: block;
            }

            &:not(.is-active) {
                .offer__gallery__button {
                    pointer-events: none;
                }
            }

            &__count {
                position: absolute;
                right: 32px;
                bottom: 24px;
                transform: translateZ(0);
                z-index: 2;
            }

            &__info {
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 700px;
                padding: 0 0 26px 30px;
                transform: translateZ(0);
                color: $white-color;
                z-index: 2;

                &-container {
                    position: relative;
                    transform: translateZ(0);
                    z-index: 2;
                }

                &__text {
                    min-height: 60px;
                    margin-bottom: 14px;
                    overflow: hidden;

                    > div {
                        transform: translateY(calc(100% - 3.5em));
                        transition: transform 1.25s $ease-out-quart;
                    }

                    &.is-short {
                        > div {
                            transform: none;
                        }
                    }

                    &--egg {
                        + .offers__slider__info__plus {
                            clip-path: none !important;
                        }
                    }
                }

                &__title {
                    margin-bottom: 13px;
                }

                &__plus {
                    transition: clip-path 0.4s ease-out;
                    opacity: 0.5;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }

                &__extras {
                    position: absolute;
                    bottom: 23px;
                    transition: clip-path 0.4s 0.2s ease-out;
                    white-space: nowrap;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                    p {
                        display: inline-block;
                        margin-right: 1.1em;
                    }

                    span {
                        opacity: 0.5;
                    }
                }

                &__description {
                    max-width: 500px;
                    letter-spacing: -0.02em;
                    text-align: justify;

                    p {
                        &:not(:last-of-type) {
                            margin-bottom: 0.5em;
                        }
                    }
                }

                &.is-hovered {
                    .offers__slider__info__text {
                        > div {
                            transform: translateY(0) !important;
                        }
                    }

                    .offers__slider__info__plus {
                        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                    }

                    .offers__slider__info__extras {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    }
                }

                &:not(.is-hovered) {
                    .offers__slider__info__plus {
                        transition-delay: 0.33s;
                    }

                    .offers__slider__info__extras {
                        transition-delay: 0s;
                        transition-timing-function: ease-in;
                    }
                }

                &.offers__slider__info--multiple {
                    pointer-events: none;

                    .offers__slider__info__title {
                        transition: clip-path 0.4s 0.2s ease-in;
                        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    }

                    .offers__slider__info__description {
                        transition: opacity 0.6s 0.4s ease-in;
                        opacity: 0;
                    }

                    .offers__slider__info__plus {
                        visibility: hidden;
                    }

                    &.is-active {
                        pointer-events: auto;

                        .offers__slider__info__title {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }

                        .offers__slider__info__description {
                            opacity: 1;
                        }

                        .offers__slider__info__plus {
                            visibility: visible;
                        }
                    }

                    &:not(.is-active) {
                        .offers__slider__info__title {
                            transition: clip-path 0.4s ease-out;
                        }

                        .offers__slider__info__description {
                            transition: opacity 0.6s ease-out;
                        }
                    }
                }
            }
        }

        &.is-open {
            .offers__list-nav {
                opacity: 1;
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__list {
            li {
                padding: 33px 40px 31px 35px;
            }

            &__infos {
                span {
                    &:nth-of-type(2) {
                        margin-left: 100px;
                    }
                }
            }

            &__title {
                &:before {
                    width: 8px;
                    height: 8px;
                    margin-top: -5px;
                }
            }
        }

        &__slider {
            &__info {
                &__text {
                    > div {
                        transform: translateY(calc(100% - 4em));
                    }
                }
            }
        }
    }

    @media #{$rwd-sm-down} {
        &__slider {
            display: none !important;
        }

        &.is-open {
            .offers__mobile-top {
                opacity: 1;

                &:after {
                    opacity: 1;
                }
            }

            .offers__list li {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }

        &:not(.is-open) {
            .offers__list li {
                transition: opacity 0.25s ease-in-out, transform 0.25s 0.25s ease-out;
            }
        }
    }
}
