.offer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black-color;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 99% 0, 0 0);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        transform: translateZ(0);
        background-image: url('../images/ARROW.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 8px;
        z-index: 2;

        &.slick-prev {
            left: 5px;
            transform: rotate(180deg) translateZ(0);
            background-image: url('../images/ARROW.svg');
        }

        &.slick-next {
            right: 5px;
        }
    }

    &__gallery {
        width: 100%;
        height: 45vh;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        transform: scale(1.07);
        transform-origin: center;

        &__image {
            width: 100%;
            min-width: 100vw;
            height: 100%;
            transform: translateZ(0);
            // transform-origin: center;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;

            &.swiper-slide-active {
                z-index: 2;
            }

            &--vertical {
                background-color: #1c1c1c;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }

        .slick-arrow,
        .swiper-button,
        &__button {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            transform: translateZ(0);
            background-image: url('../images/ARROW.svg');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 8px;
            z-index: 2;

            &.slick-prev,
            &.swiper-button-prev {
                left: 5px;
                transform: rotate(180deg) translateZ(0);
            }

            &.slick-next,
            &.swiper-button-next {
                right: 5px;
            }

            &.is-disabled {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    &__lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-out;
        background: $black-color;
        opacity: 0;
        z-index: 3;
        pointer-events: none;

        &.is-open {
            opacity: 1;
            pointer-events: auto;
        }

        &__image {
            display: flex !important;
            align-items: center;
            justify-content: center;
            transform: translateZ(0);
        }
    }

    &__description {
        padding: 33px 20px 30px;

        h2 {
            margin-bottom: 1.15em;
        }

        p {
            margin-bottom: 1.25em;
        }

        > * {
            transform: translate3d(-10px, 0, 0);
            transition: opacity 0.5s ease-in-out, transform 0.33s ease-out;
            opacity: 0;

            @for $i from 1 through 15 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.05s + $i * 0.2s;
                }
            }
        }
    }

    &.is-open {
        animation: openOfferMobile 0.7s forwards ease-out;

        .offer__gallery {
            opacity: 1;
        }

        .offer__description > * {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    &.is-closed {
        animation: closeOfferMobile 0.7s forwards ease-out;

        .offer__gallery,
        .offer__description > * {
            opacity: 0;
        }
    }

    @media #{$rwd-md-up} {

        &__lightbox {
            display: none !important;
        }

        &__gallery {
            height: 100%;
            opacity: 1;
            z-index: 2;

            .swiper-wrapper {
                // transition-timing-function: ease-out;
                // transform: scale(1.07);
                // transform-origin: center;
            }

            .slick-list {
                transform: scale(1.07);
                // transform-origin: center;
                // transition: transform 0.7s ease-out;
                // will-change: transform;
            }

            &:before {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: opacity 0.5s ease-out;
                background: $black-color;
                content: '';
                opacity: 0.15;
                z-index: 2;
            }

            &.hovering-text {
                &:before {
                    opacity: 0.69;
                }
            }

            .slick-arrow,
            .swiper-button
            &__button {
                position: absolute;
                top: 50%;
                width: 40px;
                height: 40px;
                margin-top: -20px;
                background-size: 8px;

                &.slick-prev,
                &.swiper-button-prev {
                    left: 17px;
                }

                &.slick-next,
                &.swiper-button-next {
                    right: 17px;
                }
            }
        }
    }

    @media #{$rwd-lg-up} {
        &__gallery {

            .slick-arrow,
            .swiper-button,
            &__button {
                &--follow {
                    width: 66px;
                    height: 66px;
                    margin-top: -40px;
                    background: none;

                    &__arrow {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/ARROW.svg');
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: 8px;
                    }

                    &.slick-next,
                    &.swiper-button-next {
                        right: 5px;
                    }

                    &.slick-prev,
                    &.swiper-button-prev {
                        left: 5px;
                        transform: none;

                        .slick-arrow--follow__arrow,
                        .swiper-button--follow__arrow {
                            background-image: url('../images/ARROW-PREV.svg');
                        }
                    }
                }
            }
        }
    }
}
