.section {
    display: none;
    position: absolute;
    z-index: 2;

    &:before {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        transition: opacity 0.7s ease-out;
        background: rgba($black-color, 0.7);
        content: '';
        opacity: 0;
        z-index: -1;
        pointer-events: none;
    }

    &.is-open {
        &:before {
            opacity: 1;
        }

        ~ .nav .nav-link-retour {
            opacity: 0 !important;
            pointer-events: none !important;
        }
    }

    @media #{$rwd-md-up} {
        &.contact {
            &:before {
                width: 50%;
                background: linear-gradient(to right, rgba($black-color, 0) 0%, rgba($black-color, 1) 100%);
            }
        }
    }
}
