<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <input
        id="<?= $this->getId('input') ?>" 
        name="<?= $name ?>" 
        placeholder="Enter your address"
        onFocus="geolocate()" 
        type="text"
        class="form-control"
        value="<?= $value ?>"></input>

<?php endif ?>
<script>
    // Inject field id into googleplaces.js
    var fieldId = "<?= $fieldId ?>";
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<?=config('cms')['google_api_key']?>&libraries=places&callback=initAutocomplete&language=fr"
        async defer></script>
